@charset "UTF-8";
/**
 * Theme Name: Creative Cakes
 * Theme URI: http://djrthemes.com/themes/creative-cakes/
 * Description: Creative Cakes bakery design theme
 * Tags: one-column, two-columns, right-sidebar, responsive-layout, custom-background, custom-menu, featured-images, full-width-template, post-formats, theme-options, threaded-comments, translation-ready, blue, brown
 * Version: 1.2.2
 * Author: Jenny Ragan, Alicia Hylton
 * Author URI: http://djrthemes.com
 * License:     GNU General Public License, v2 (or newer)
 * License URI:  http://www.gnu.org/licenses/old-licenses/gpl-2.0.html 
 */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

.layout-1c h1.entry-title, .loop-title, .from_the_blog_widget h3.widget-title {
  margin: 0 auto;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .layout-1c h1.entry-title, .loop-title, .from_the_blog_widget h3.widget-title {
    height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media screen and (min-width: 767px) {
  .layout-1c h1.entry-title:before, .loop-title:before, .from_the_blog_widget h3.widget-title:before, .layout-1c h1.entry-title:after, .loop-title:after, .from_the_blog_widget h3.widget-title:after {
    position: relative;
    top: -6px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    overflow: hidden;
    margin: 0 10px;
    width: 30%;
    min-width: 25%;
    vertical-align: middle;
    height: .5em;
    line-height: .25em;
    word-spacing: 1px;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . .";
  }
}

input[type="button"], input[type="submit"], button, #container .with_frm_style .submit input[type="submit"], #container .frm_form_submit_style, .cc-read-more a, .cc_box_widget .widget-inside .link-button a, .comment-reply-link {
  font-size: 13px;
  font-size: 1.3rem;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-color: #e8f8fb;
  color: #8cc0d3;
  line-height: 2;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1em auto;
  padding: 0 .5385em;
}
input[type="button"]:visited, input[type="submit"]:visited, button:visited, #container .with_frm_style .submit input[type="submit"]:visited, #container .frm_form_submit_style:visited, .cc-read-more a:visited, .cc_box_widget .widget-inside .link-button a:visited, .comment-reply-link:visited, input[type="button"]:active, input[type="submit"]:active, button:active, #container .with_frm_style .submit input[type="submit"]:active, #container .frm_form_submit_style:active, .cc-read-more a:active, .cc_box_widget .widget-inside .link-button a:active, .comment-reply-link:active {
  color: #8cc0d3;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover, #container .with_frm_style .submit input[type="submit"]:hover, #container .frm_form_submit_style:hover, .cc-read-more a:hover, .cc_box_widget .widget-inside .link-button a:hover, .comment-reply-link:hover {
  color: #ffffff;
  background: #fd955c;
  text-decoration: none;
}

input,
textarea,
select, #container .with_frm_style .frm_form_fields input,
#container #wpcontent .with_frm_style .frm_form_fields select,
#container .with_frm_style .frm_form_fields select,
#container .with_frm_style .frm_form_fields textarea {
  font-size: 14px;
  font-size: 1.4rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px outset #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: .7em 2em;
}

/**
 * Layout
 * --------------------------------------------------------------------------- */
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.grid-container:before, #container .wrap:before, #footer .wrap:before, .grid-5:before, .mobile-grid-5:before, .grid-10:before, .mobile-grid-10:before, .grid-15:before, .mobile-grid-15:before, .grid-20:before, .mobile-grid-20:before, .grid-25:before, .mobile-grid-25:before, .grid-30:before, .mobile-grid-30:before, .grid-35:before, .mobile-grid-35:before, .grid-40:before, .mobile-grid-40:before, .grid-45:before, .mobile-grid-45:before, .grid-50:before, .mobile-grid-50:before, .grid-55:before, .mobile-grid-55:before, .grid-60:before, .mobile-grid-60:before, .grid-65:before, .mobile-grid-65:before, .grid-70:before, .mobile-grid-70:before, .grid-75:before, .mobile-grid-75:before, .grid-80:before, .mobile-grid-80:before, .grid-85:before, .mobile-grid-85:before, .grid-90:before, .mobile-grid-90:before, .grid-95:before, .mobile-grid-95:before, .grid-100:before, .mobile-grid-100:before, .grid-33:before, .mobile-grid-33:before, .grid-66:before, .mobile-grid-66:before, #footer .footer-content:before, #footer .footer-content .copyright:before,
#footer .footer-content .credit:before, #header:before, #content:before,
#sidebar-primary:before,
#main .breadcrumbs:before,
#sidebar-subsidiary .widget:before,
#menu-primary:before,
#sidebar-home-one .widget:before,
#sidebar-home-two .widget:before,
#sidebar-home-three .widget:before,
#sidebar-home-one .widget:first-of-type:before,
#sidebar-home-one .widget:nth-of-type(2):before,
.form_third-wrap:before,
.from-blog-layout-three > div:before,
.from-blog-layout-four > div:before,
#social-menu-container:before, #main:before,
#main-inner:before,
.page-template-home #content:before,
#sidebar-subsidiary:before,
#sidebar-home-one:before,
#sidebar-home-two:before,
#sidebar-home-three:before,
.ninja-forms-all-fields-wrap:before,
.form_group:before,
.from-blog-layout-three:before,
.from-blog-layout-four:before, .clearfix:before, .hentry:before,
.grid-container:after,
#container .wrap:after,
#footer .wrap:after,
.grid-5:after,
.mobile-grid-5:after,
.grid-10:after,
.mobile-grid-10:after,
.grid-15:after,
.mobile-grid-15:after,
.grid-20:after,
.mobile-grid-20:after,
.grid-25:after,
.mobile-grid-25:after,
.grid-30:after,
.mobile-grid-30:after,
.grid-35:after,
.mobile-grid-35:after,
.grid-40:after,
.mobile-grid-40:after,
.grid-45:after,
.mobile-grid-45:after,
.grid-50:after,
.mobile-grid-50:after,
.grid-55:after,
.mobile-grid-55:after,
.grid-60:after,
.mobile-grid-60:after,
.grid-65:after,
.mobile-grid-65:after,
.grid-70:after,
.mobile-grid-70:after,
.grid-75:after,
.mobile-grid-75:after,
.grid-80:after,
.mobile-grid-80:after,
.grid-85:after,
.mobile-grid-85:after,
.grid-90:after,
.mobile-grid-90:after,
.grid-95:after,
.mobile-grid-95:after,
.grid-100:after,
.mobile-grid-100:after,
.grid-33:after,
.mobile-grid-33:after,
.grid-66:after,
.mobile-grid-66:after,
#footer .footer-content:after,
#footer .footer-content .copyright:after,
#footer .footer-content .credit:after,
#header:after,
#content:after,
#sidebar-primary:after,
#main .breadcrumbs:after,
#sidebar-subsidiary .widget:after,
#menu-primary:after,
#sidebar-home-one .widget:after,
#sidebar-home-two .widget:after,
#sidebar-home-three .widget:after,
#sidebar-home-one .widget:first-of-type:after,
#sidebar-home-one .widget:nth-of-type(2):after,
.form_third-wrap:after,
.from-blog-layout-three > div:after,
.from-blog-layout-four > div:after,
#social-menu-container:after,
#main:after,
#main-inner:after,
.page-template-home #content:after,
#sidebar-subsidiary:after,
#sidebar-home-one:after,
#sidebar-home-two:after,
#sidebar-home-three:after,
.ninja-forms-all-fields-wrap:after,
.form_group:after,
.from-blog-layout-three:after,
.from-blog-layout-four:after,
.clearfix:after,
.hentry:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.grid-container:after, #container .wrap:after, #footer .wrap:after, .grid-5:after, .mobile-grid-5:after, .grid-10:after, .mobile-grid-10:after, .grid-15:after, .mobile-grid-15:after, .grid-20:after, .mobile-grid-20:after, .grid-25:after, .mobile-grid-25:after, .grid-30:after, .mobile-grid-30:after, .grid-35:after, .mobile-grid-35:after, .grid-40:after, .mobile-grid-40:after, .grid-45:after, .mobile-grid-45:after, .grid-50:after, .mobile-grid-50:after, .grid-55:after, .mobile-grid-55:after, .grid-60:after, .mobile-grid-60:after, .grid-65:after, .mobile-grid-65:after, .grid-70:after, .mobile-grid-70:after, .grid-75:after, .mobile-grid-75:after, .grid-80:after, .mobile-grid-80:after, .grid-85:after, .mobile-grid-85:after, .grid-90:after, .mobile-grid-90:after, .grid-95:after, .mobile-grid-95:after, .grid-100:after, .mobile-grid-100:after, .grid-33:after, .mobile-grid-33:after, .grid-66:after, .mobile-grid-66:after, #footer .footer-content:after, #footer .footer-content .copyright:after,
#footer .footer-content .credit:after, #header:after, #content:after,
#sidebar-primary:after,
#main .breadcrumbs:after,
#sidebar-subsidiary .widget:after,
#menu-primary:after,
#sidebar-home-one .widget:after,
#sidebar-home-two .widget:after,
#sidebar-home-three .widget:after,
#sidebar-home-one .widget:first-of-type:after,
#sidebar-home-one .widget:nth-of-type(2):after,
.form_third-wrap:after,
.from-blog-layout-three > div:after,
.from-blog-layout-four > div:after,
#social-menu-container:after, #main:after,
#main-inner:after,
.page-template-home #content:after,
#sidebar-subsidiary:after,
#sidebar-home-one:after,
#sidebar-home-two:after,
#sidebar-home-three:after,
.ninja-forms-all-fields-wrap:after,
.form_group:after,
.from-blog-layout-three:after,
.from-blog-layout-four:after, .clearfix:after, .hentry:after {
  clear: both;
}

.grid-container, #container .wrap, #footer .wrap, .grid-5, .mobile-grid-5, .grid-10, .mobile-grid-10, .grid-15, .mobile-grid-15, .grid-20, .mobile-grid-20, .grid-25, .mobile-grid-25, .grid-30, .mobile-grid-30, .grid-35, .mobile-grid-35, .grid-40, .mobile-grid-40, .grid-45, .mobile-grid-45, .grid-50, .mobile-grid-50, .grid-55, .mobile-grid-55, .grid-60, .mobile-grid-60, .grid-65, .mobile-grid-65, .grid-70, .mobile-grid-70, .grid-75, .mobile-grid-75, .grid-80, .mobile-grid-80, .grid-85, .mobile-grid-85, .grid-90, .mobile-grid-90, .grid-95, .mobile-grid-95, .grid-100, .mobile-grid-100, .grid-33, .mobile-grid-33, .grid-66, .mobile-grid-66, #footer .footer-content, #footer .footer-content .copyright,
#footer .footer-content .credit, #header, #content,
#sidebar-primary,
#main .breadcrumbs,
#sidebar-subsidiary .widget,
#menu-primary,
#sidebar-home-one .widget,
#sidebar-home-two .widget,
#sidebar-home-three .widget,
#sidebar-home-one .widget:first-of-type,
#sidebar-home-one .widget:nth-of-type(2),
.form_third-wrap,
.from-blog-layout-three > div,
.from-blog-layout-four > div,
#social-menu-container, #main,
#main-inner,
.page-template-home #content,
#sidebar-subsidiary,
#sidebar-home-one,
#sidebar-home-two,
#sidebar-home-three,
.ninja-forms-all-fields-wrap,
.form_group,
.from-blog-layout-three,
.from-blog-layout-four, .clearfix, .hentry {
  /* <IE7> */
  *zoom: 1;
  /* </IE7> */
}

.grid-container, #container .wrap, #footer .wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-5, .mobile-grid-5, .grid-10, .mobile-grid-10, .grid-15, .mobile-grid-15, .grid-20, .mobile-grid-20, .grid-25, .mobile-grid-25, .grid-30, .mobile-grid-30, .grid-35, .mobile-grid-35, .grid-40, .mobile-grid-40, .grid-45, .mobile-grid-45, .grid-50, .mobile-grid-50, .grid-55, .mobile-grid-55, .grid-60, .mobile-grid-60, .grid-65, .mobile-grid-65, .grid-70, .mobile-grid-70, .grid-75, .mobile-grid-75, .grid-80, .mobile-grid-80, .grid-85, .mobile-grid-85, .grid-90, .mobile-grid-90, .grid-95, .mobile-grid-95, .grid-100, .mobile-grid-100, .grid-33, .mobile-grid-33, .grid-66, .mobile-grid-66, #footer .footer-content, #footer .footer-content .copyright,
#footer .footer-content .credit, #header, #content,
#sidebar-primary,
#main .breadcrumbs,
#sidebar-subsidiary .widget,
#menu-primary,
#sidebar-home-one .widget,
#sidebar-home-two .widget,
#sidebar-home-three .widget,
#sidebar-home-one .widget:first-of-type,
#sidebar-home-one .widget:nth-of-type(2),
.form_third-wrap,
.from-blog-layout-three > div,
.from-blog-layout-four > div,
#social-menu-container, #main,
#main-inner,
.page-template-home #content,
#sidebar-subsidiary,
#sidebar-home-one,
#sidebar-home-two,
#sidebar-home-three,
.ninja-forms-all-fields-wrap,
.form_group,
.from-blog-layout-three,
.from-blog-layout-four {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  /* <IE7> */
  *padding-left: 0;
  *padding-right: 0;
  /* </IE7> */
}
.grid-5 > *, .mobile-grid-5 > *, .grid-10 > *, .mobile-grid-10 > *, .grid-15 > *, .mobile-grid-15 > *, .grid-20 > *, .mobile-grid-20 > *, .grid-25 > *, .mobile-grid-25 > *, .grid-30 > *, .mobile-grid-30 > *, .grid-35 > *, .mobile-grid-35 > *, .grid-40 > *, .mobile-grid-40 > *, .grid-45 > *, .mobile-grid-45 > *, .grid-50 > *, .mobile-grid-50 > *, .grid-55 > *, .mobile-grid-55 > *, .grid-60 > *, .mobile-grid-60 > *, .grid-65 > *, .mobile-grid-65 > *, .grid-70 > *, .mobile-grid-70 > *, .grid-75 > *, .mobile-grid-75 > *, .grid-80 > *, .mobile-grid-80 > *, .grid-85 > *, .mobile-grid-85 > *, .grid-90 > *, .mobile-grid-90 > *, .grid-95 > *, .mobile-grid-95 > *, .grid-100 > *, .mobile-grid-100 > *, .grid-33 > *, .mobile-grid-33 > *, .grid-66 > *, .mobile-grid-66 > *, #footer .footer-content > *, #footer .footer-content .copyright > *,
#footer .footer-content .credit > *, #header > *, #content > *,
#sidebar-primary > *,
#main .breadcrumbs > *,
#sidebar-subsidiary .widget > *,
#menu-primary > *,
#sidebar-home-one .widget > *,
#sidebar-home-two .widget > *,
#sidebar-home-three .widget > *,
#sidebar-home-one .widget:first-of-type > *,
#sidebar-home-one .widget:nth-of-type(2) > *,
.form_third-wrap > *,
.from-blog-layout-three > div > *,
.from-blog-layout-four > div > *,
#social-menu-container > *, #main > *,
#main-inner > *,
.page-template-home #content > *,
#sidebar-subsidiary > *,
#sidebar-home-one > *,
#sidebar-home-two > *,
#sidebar-home-three > *,
.ninja-forms-all-fields-wrap > *,
.form_group > *,
.from-blog-layout-three > *,
.from-blog-layout-four > * {
  /* <IE7> */
  *margin-left: "expression((!this.className.match(/grid-[1-9]/) && this.currentStyle.display === " block " && this.currentStyle.width === " auto ') && "10px")';
  *margin-right: "expression((!this.className.match(/grid-[1-9]/) && this.currentStyle.display === " block " && this.currentStyle.width === " auto ') && "10px")';
  /* </IE7> */
}

.grid-parent, #footer .footer-content, #main,
#main-inner,
.page-template-home #content,
#sidebar-subsidiary,
#sidebar-home-one,
#sidebar-home-two,
#sidebar-home-three,
.ninja-forms-all-fields-wrap,
.form_group,
.from-blog-layout-three,
.from-blog-layout-four {
  padding-left: 0;
  padding-right: 0;
}

#header {
  height: 180px;
}

#header-tag-link {
  height: 110px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  width: 132px;
}

#container {
  background: url("images/bg.png") repeat-x 0 0;
}

#container .wrap {
  position: relative;
}

@media screen and (max-width: 767px) {
  #header,
  #main,
  #main .breadcrumbs,
  #content,
  #sidebar-primary,
  #sidebar-subsidiary,
  #footer,
  #main-outer,
  #main-inner,
  #menu-primary,
  .footer-content,
  .copyright,
  .credit,
  #sidebar-home-one .widget,
  #sidebar-home-two .widget,
  #sidebar-home-three .widget,
  .ninja-forms-all-fields-wrap,
  .ninja-forms-all-fields-wrap > div,
  #social-menu-container {
    clear: both;
    width: 100%;
  }

  .loop-pagination,
  .loop-nav {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 767px) {
  .ninja-forms-all-fields-wrap div.field-wrap:before,
  .ninja-forms-all-fields-wrap div.form_group:before,
  .ninja-forms-all-fields-wrap div.field-wrap:after,
  .ninja-forms-all-fields-wrap div.form_group:after,
  #sidebar-home-one:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  .ninja-forms-all-fields-wrap div.field-wrap:after,
  .ninja-forms-all-fields-wrap div.form_group:after, #sidebar-home-one:after {
    clear: both;
  }

  .ninja-forms-all-fields-wrap div.field-wrap,
  .ninja-forms-all-fields-wrap div.form_group {
    /* <IE7> */
    *zoom: 1;
    /* </IE7> */
  }

  .ninja-forms-all-fields-wrap div.field-wrap,
  .ninja-forms-all-fields-wrap div.form_group {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    /* <IE7> */
    *padding-left: 0;
    *padding-right: 0;
    /* </IE7> */
  }
  .ninja-forms-all-fields-wrap div.field-wrap > *,
  .ninja-forms-all-fields-wrap div.form_group > * {
    /* <IE7> */
    *margin-left: "expression((!this.className.match(/grid-[1-9]/) && this.currentStyle.display === " block " && this.currentStyle.width === " auto ') && "10px")';
    *margin-right: "expression((!this.className.match(/grid-[1-9]/) && this.currentStyle.display === " block " && this.currentStyle.width === " auto ') && "10px")';
    /* </IE7> */
  }

  #header, #menu-primary {
    position: relative;
  }

  #sidebar-subsidiary .widget {
    float: left;
    width: 20%;
    /* <IE7> */
    *width: expression(Math.floor(0.2 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
    /* </IE7> */
  }

  #sidebar-primary, .from-blog-layout-four > div {
    float: left;
    width: 25%;
    /* <IE7> */
    *width: expression(Math.floor(0.25 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
    /* </IE7> */
  }

  #header, #sidebar-subsidiary .widget:nth-child(4) {
    float: left;
    width: 40%;
    /* <IE7> */
    *width: expression(Math.floor(0.4 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
    /* </IE7> */
  }

  #menu-primary {
    left: 40%;
    /* <IE7> */
    *left: expression(Math.floor(0.4 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
    /* </IE7> */
  }

  #sidebar-home-two .widget.cc_box_widget, .copyright,
  .credit, .ninja-forms-all-fields-wrap div.field-wrap.form_half-wrap,
  .ninja-forms-all-fields-wrap div.form_group.form_half-wrap {
    float: left;
    width: 50%;
    /* <IE7> */
    *width: expression(Math.floor(0.5 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
    /* </IE7> */
  }

  #menu-primary {
    float: left;
    width: 60%;
    /* <IE7> */
    *width: expression(Math.floor(0.6 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
    /* </IE7> */
  }

  #header {
    left: -60%;
    /* <IE7> */
    *left: expression(Math.floor(-0.6 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
    /* </IE7> */
  }

  #content {
    float: left;
    width: 75%;
    /* <IE7> */
    *width: expression(Math.floor(0.75 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
    /* </IE7> */
  }

  #sidebar-home-one .widget, #sidebar-home-two .widget, .from-blog-layout-three > div, .ninja-forms-all-fields-wrap div.field-wrap.form_third-wrap,
  .ninja-forms-all-fields-wrap div.form_group.form_third-wrap {
    float: left;
    width: 33.33333%;
    /* <IE7> */
    *width: expression(Math.floor(0.33333 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
    /* </IE7> */
  }

  #sidebar-home-one .widget:nth-of-type(2), .ninja-forms-all-fields-wrap div.field-wrap.form_twothirds-wrap,
  .ninja-forms-all-fields-wrap div.form_group.form_twothirds-wrap {
    float: left;
    width: 66.66667%;
    /* <IE7> */
    *width: expression(Math.floor(0.66667 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
    /* </IE7> */
  }

  .no-primary-menu #header, #main,
  #main-inner,
  #main .breadcrumbs,
  #sidebar-subsidiary, .layout-1c #content, #sidebar-home-one, #sidebar-home-two, #sidebar-home-three, #sidebar-home-three .widget, .from-blog-layout-three,
  .from-blog-layout-four, .footer-content, .ninja-forms-all-fields-wrap div.field-wrap,
  .ninja-forms-all-fields-wrap div.form_group {
    clear: both;
    width: 100%;
  }

  #social-menu-container {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 100;
  }
  .has-price-tag #social-menu-container {
    right: 140px;
  }

  .no-primary-menu #header {
    float: none;
    left: 0;
  }

  #menu-primary .menu-toggle {
    display: none;
  }
  #menu-primary .wrap {
    position: relative;
    height: 180px;
  }

  #menu-primary-items {
    position: absolute;
    bottom: 2em;
  }

  #sidebar-subsidiary {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
  }

  #sidebar-subsidiary .widget {
    padding-left: 1em;
    padding-right: 1em;
  }

  .from-blog-layout-three > div:nth-of-type(4) {
    clear: both;
  }

  .from-blog-layout-four > div:nth-of-type(5) {
    clear: both;
  }

  .ninja-forms-all-fields-wrap div.field-wrap.form_third-wrap,
  .ninja-forms-all-fields-wrap div.form_group.form_third-wrap {
    clear: none;
  }
  .ninja-forms-all-fields-wrap div.field-wrap.form_twothirds-wrap,
  .ninja-forms-all-fields-wrap div.form_group.form_twothirds-wrap {
    clear: none;
  }
  .ninja-forms-all-fields-wrap div.field-wrap.form_half-wrap,
  .ninja-forms-all-fields-wrap div.form_group.form_half-wrap {
    clear: none;
  }
  .ninja-forms-all-fields-wrap .form_row_start {
    clear: both;
  }
}
@media screen and (min-width: 940px) {
  #sidebar-home-two .widget.cc_box_widget {
    float: left;
    width: 33.33333%;
    /* <IE7> */
    *width: expression(Math.floor(0.33333 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
    /* </IE7> */
  }

  #sidebar-home-two {
    clear: both;
    width: 100%;
  }
}
/**
 * Basics
 * --------------------------------------------------------------------------- */
/* === HTML === */
html {
  font-size: 62.5%;
  width: auto;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* === Body === */
body {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 2;
  color: #8d7662;
  overflow-x: hidden;
}

p {
  word-wrap: break-word;
  margin: 0 0 1.5em 0;
}

/* === Links === */
a {
  color: #fd955c;
}
a:visited {
  color: #fd955c;
}
a:focus {
  color: #fd955c;
}
a:hover {
  color: #8cc0d3;
}
a:active {
  color: #fd955c;
}

a:hover {
  text-decoration: none;
}

/* === Headers === */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  color: #8cc0d3;
  margin: 0 0 .5em 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #8cc0d3;
}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #8cc0d3;
}
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
  color: #8cc0d3;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #fd955c;
}
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
  color: #8cc0d3;
}

h1 {
  font-size: 48px;
  font-size: 4.8rem;
  color: #dee4b1;
}
h1 a {
  color: #dee4b1;
}
h1 a:visited {
  color: #dee4b1;
}
h1 a:focus {
  color: #dee4b1;
}
h1 a:hover {
  color: #fd955c;
}
h1 a:active {
  color: #dee4b1;
}

h2 {
  font-size: 30px;
  font-size: 3rem;
  color: #fd955c;
}
h2 a {
  color: #fd955c;
}
h2 a:visited {
  color: #fd955c;
}
h2 a:focus {
  color: #fd955c;
}
h2 a:hover {
  color: #8cc0d3;
}
h2 a:active {
  color: #fd955c;
}

h3 {
  font-size: 26px;
  font-size: 2.6rem;
}

h4 {
  font-size: 22px;
  font-size: 2.2rem;
}

h5 {
  font-size: 20px;
  font-size: 2rem;
}

h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* === Blockquotes, quotes, and cites === */
blockquote {
  margin: 0;
  padding: 8px 25px 0 50px;
  font-style: normal;
  background: url(images/quotes.png) no-repeat 0 0;
}

blockquote em, blockquote cite {
  font-style: italic;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* === Acronyms and abbreviations === */
acronym {
  font-variant: small-caps;
}

acronym,
abbr {
  border-bottom: 1px dotted #8cc0d3;
}

/* === Code and Preformatted text === */
code {
  padding: 1px 3px;
  color: #111;
  background: #eee;
}

pre {
  padding: 2em;
  background: #ccc;
  border: 1px solid #ddd;
  margin-bottom: 2em;
}

pre code {
  padding: 0;
  background: transparent;
}

li.comment pre {
  background-color: #ccc;
}

/* === <address> tag === */
address {
  margin-bottom: 1.5em;
}

/* === Lists === */
ol, ul {
  list-style: none;
}

ul {
  list-style: disc;
  margin: 0 0 2em 2.5em;
}

ol {
  list-style-type: decimal;
  margin: 0 0 2em 3em;
}

ol ol {
  list-style: upper-roman;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: upper-alpha;
}

ol ol ol ol ol {
  list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}

dl {
  margin: 0 0 2em .5em;
}

dl dt {
  font-weight: bold;
  margin: 1em 0 0 0;
}

dl dd {
  margin: .5em 0 0 1.5em;
}

/* === Tables === */
table {
  width: 100%;
  border: 1px solid #8d7662;
  border-bottom: none;
  margin-bottom: 1.5em;
}

table caption {
  margin: 0 0 5px;
  font-variant: small-caps;
  color: #858585;
}

th,
td {
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.widget th,
.widget td {
  padding: 5px 2px;
}

th {
  border-bottom: 1px solid #8d7662;
  border-right: 1px solid #8d7662;
  text-align: left;
}

td {
  color: #8d7662;
  background: #fafafa;
  border-bottom: 1px solid #8d7662;
  border-right: 1px solid #8d7662;
}

/* wp-calendar */
#wp-calendar th,
#wp-calendar td {
  text-align: center;
}

#wp-calendar thead {
  border-top: 1px solid #8d7662;
}

#wp-calendar thead,
#wp-calendar tbody {
  border-left: 1px solid #8d7662;
}

#wp-calendar thead th {
  background: #8cc0d3;
  color: #8d7662;
}

#wp-calendar tbody td.pad {
  background: #fafafa;
}

#wp-calendar tbody td {
  font-size: 12px;
  font-size: 1.2rem;
  background: #fff;
}

#wp-calendar tbody a {
  display: block;
  font-weight: bold;
}

#wp-calendar,
#wp-calendar tfoot tr,
#wp-calendar tfoot td {
  background: transparent;
  border: none;
}

/* === Embeds === */
object {
  max-width: 100%;
}

embed {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

video {
  max-width: 100%;
}

/* === Alignement (WP classes) === */
.alignleft, .left {
  float: left;
  margin-right: 10px;
}

.alignright, .right {
  float: right;
  margin-left: 10px;
}

.aligncenter, .center {
  display: block;
  margin: 0 auto 15px auto;
}

.alignnone, .block {
  clear: both;
  margin: 0 0 15px 0;
}

img.alignleft, img.alignright {
  display: inline;
}

/**
* Images
* --------------------------------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
}

a img {
  display: block;
}

.entry-content img {
  border: 10px solid #e8f8fb;
}

.entry-header .post-thumbnail-wrap {
  float: left;
  margin-right: 1em;
  margin-top: .769em;
}
.entry-header .single-thumbnail-wrap {
  float: none;
  margin: .769em 0;
}
.entry-header .single-thumbnail-wrap img {
  border: 10px solid #e8f8fb;
  margin: 0 auto;
  display: block;
}

/* === WP editor image sizes === */
/* === Thumbnails === */
.thumbnail {
  border: 10px solid #e8f8fb;
}

/* === Captions === */
.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
}

/* === Gallery === */
/**
 * Cleaner Gallery Stylesheet
 * @version 0.9.5
 */
.gallery {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  /* Image sizes depending on the number of columns */
}
.gallery .gallery-row {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0 0 1em 0;
}
.gallery .gallery-item {
  overflow: hidden;
  float: left;
  margin: 0;
  text-align: center;
  list-style: none;
  padding: 0;
}
.gallery .gallery-item .gallery-icon img {
  width: auto;
  max-width: 80%;
  height: auto;
  padding: 1%;
  margin: 0 auto;
  border: 10px solid #e8f8fb;
}
.gallery .gallery-caption {
  margin-left: 0;
}
.gallery .col-0 {
  width: 100%;
}
.gallery .col-1 {
  width: 100%;
}
.gallery .col-2 {
  width: 50%;
}
.gallery .col-3 {
  width: 33.33%;
}
.gallery .col-4 {
  width: 25%;
}
.gallery .col-5 {
  width: 20%;
}
.gallery .col-6 {
  width: 16.66%;
}
.gallery .col-7 {
  width: 14.28%;
}
.gallery .col-8 {
  width: 12.5%;
}
.gallery .col-9 {
  width: 11.11%;
}
.gallery .col-10 {
  width: 10%;
}
.gallery .col-11 {
  width: 9.09%;
}
.gallery .col-12 {
  width: 8.33%;
}
.gallery .col-13 {
  width: 7.69%;
}
.gallery .col-14 {
  width: 7.14%;
}
.gallery .col-15 {
  width: 6.66%;
}
.gallery .col-16 {
  width: 6.25%;
}
.gallery .col-17 {
  width: 5.88%;
}
.gallery .col-18 {
  width: 5.55%;
}
.gallery .col-19 {
  width: 5.26%;
}
.gallery .col-20 {
  width: 5%;
}
.gallery .col-21 {
  width: 4.76%;
}
.gallery .col-22 {
  width: 4.54%;
}
.gallery .col-23 {
  width: 4.34%;
}
.gallery .col-24 {
  width: 4.16%;
}
.gallery .col-25 {
  width: 4%;
}
.gallery .col-26 {
  width: 3.84%;
}
.gallery .col-27 {
  width: 3.7%;
}
.gallery .col-28 {
  width: 3.57%;
}
.gallery .col-29 {
  width: 3.44%;
}
.gallery .col-30 {
  width: 3.33%;
}

/* === Avatars === */
/* === Sprites === */
.boxes-sprite, .boxes-cake, .boxes-cupcake, .boxes-knifefork, .boxes-spoon {
  background-image: url('images/boxes-s2f3c231602.png');
  background-repeat: no-repeat;
}

.boxes-cake {
  background-position: 0 0;
}

.boxes-cupcake {
  background-position: 0 -107px;
}

.boxes-knifefork {
  background-position: 0 -214px;
}

.boxes-spoon {
  background-position: 0 -321px;
}

.arrows-sprite, .arrows-left-arrow, .arrows-right-arrow, #home-flexslider .flex-direction-nav .flex-next,
.home-flexslider .flex-direction-nav .flex-next, #home-flexslider .flex-direction-nav .flex-prev,
.home-flexslider .flex-direction-nav .flex-prev, #container .soliloquy-container .soliloquy-direction-nav li .soliloquy-prev, #container .soliloquy-container .soliloquy-direction-nav li .soliloquy-next, .soliloquy-theme-creative-cakes.soliloquy-container .soliloquy-prev, .soliloquy-theme-creative-cakes.soliloquy-container .soliloquy-next {
  background-image: url('images/arrows-sd8883809e2.png');
  background-repeat: no-repeat;
}

.arrows-left-arrow {
  background-position: 0 0;
}

.arrows-right-arrow {
  background-position: 0 -60px;
}

/* === Forms === */
form {
  margin-bottom: 2em;
}

select,
input[type="file"] {
  padding: .7em;
}

/* Not all types, but these are more common for themes. */
input[type="submit"] {
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

label {
  position: relative;
}

/* === Ninja Forms === */
.ninja-forms-all-fields-wrap .field-wrap {
  padding: 5px;
}
.widget_ninja_forms_widget .ninja-forms-all-fields-wrap .field-wrap {
  padding: 0;
}
.widget_ninja_forms_widget .ninja-forms-all-fields-wrap #ninja_forms_required_items {
  display: none;
}
.ninja-forms-all-fields-wrap .field-wrap > label {
  font-weight: bold;
}
.ninja-forms-all-fields-wrap .form_group {
  padding-right: 10px;
  padding-left: 10px;
}
.ninja-forms-all-fields-wrap .form_label,
.ninja-forms-all-fields-wrap .form_label p {
  margin: 0;
  padding: 0;
}
.ninja-forms-all-fields-wrap .field-wrap, .ninja-forms-all-fields-wrap .form_label_above {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0;
}
.ninja-forms-all-fields-wrap .field-wrap p, .ninja-forms-all-fields-wrap .form_label_above p {
  margin-bottom: 0;
  font-weight: bold;
}
.ninja-forms-all-fields-wrap .label-below label {
  font-size: 80%;
  font-weight: normal;
}
.ninja-forms-all-fields-wrap .form_inline_radio-wrap li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.ninja-forms-all-fields-wrap .list-radio-wrap li label {
  height: 40px;
}
.ninja-forms-all-fields-wrap input[type="radio"] {
  display: none;
}
.ninja-forms-all-fields-wrap input[type="radio"] + span {
  content: ".";
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  color: #8d7662;
  background: url("images/radio-buttons.png") 0 -40px no-repeat;
  padding-left: 40px;
}
.ninja-forms-all-fields-wrap input[type="radio"]:checked + span {
  background: url("images/radio-buttons.png") 0 -4px no-repeat;
}
.ninja-forms-all-fields-wrap .cc_border_box_wrap {
  border: 10px solid #e8f8fb;
  padding: 10px;
}
.ninja-forms-all-fields-wrap .label-above .cc_border_box_wrap > label,
.ninja-forms-all-fields-wrap .cc_border_box_wrap .label-above > label {
  font-size: 18px;
  font-size: 1.8rem;
  color: #8cc0d3;
  text-transform: uppercase;
  font-weight: bold;
}
.ninja-forms-all-fields-wrap .cc_cake_or_cupcakes_radio-wrap.label-above {
  border: none;
  padding: 0;
}
.ninja-forms-all-fields-wrap .cc_cake_or_cupcakes_radio-wrap.label-above > label {
  font-size: 30px;
  font-size: 3rem;
  color: #fd955c;
}
.ninja-forms-all-fields-wrap .cc_cake_or_cupcakes_radio-wrap li {
  display: inline-block;
  height: 200px;
  max-width: 100%;
}
.ninja-forms-all-fields-wrap .cc_cake_or_cupcakes_radio-wrap li label {
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
}
.ninja-forms-all-fields-wrap .cc_cake_or_cupcakes_radio-wrap input[type="radio"] + span {
  width: 300px;
  max-width: 90%;
  height: 125px;
  padding-left: 80px;
  padding-top: 45px;
  line-height: 1.1;
  border: 5px solid transparent;
  background: url("images/boxes-s94793cd31b.png") 10px -107px no-repeat;
}
.ninja-forms-all-fields-wrap .cc_cake_or_cupcakes_radio-wrap li:last-child input[type="radio"] + span {
  background: url("images/boxes-s94793cd31b.png") 10px 0px no-repeat;
}
.ninja-forms-all-fields-wrap .cc_cake_or_cupcakes_radio-wrap input[type="radio"]:checked + span {
  border: 5px solid #e8f8fb;
}
.ninja-forms-all-fields-wrap div.cc_cupcake_dozen-wrap {
  text-align: right;
  margin-top: -20px;
}
.ninja-forms-all-fields-wrap div.cc_cupcake_dozen-wrap.label-below input[type="text"] {
  width: 50%;
}
.ninja-forms-all-fields-wrap div.cc_cupcake_dozen-wrap label {
  text-align: right;
}

/* === Formidable === */
#container .frm_forms.with_frm_style {
  max-width: 100%;
}
#container .with_frm_style input[type=text],
#container .with_frm_style input[type=password],
#container .with_frm_style input[type=email],
#container .with_frm_style input[type=number],
#container .with_frm_style input[type=url],
#container .with_frm_style input[type=tel],
#container .with_frm_style select,
#container .with_frm_style textarea,
#container .frm_form_fields_style,
#container .with_frm_style .frm_scroll_box .frm_opt_container,
#container .frm_form_fields_active_style,
#container .frm_form_fields_error_style,
#container .with_frm_style .chzn-container-multi .chzn-choices,
#container .with_frm_style .chzn-container-single .chzn-single {
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  #container .frm_full,
  #container .frm_full .wp-editor-wrap,
  #container .frm_full input,
  #container .frm_full select,
  #container .frm_full textarea {
    width: auto !important;
  }
}
#container .with_frm_style .submit input[type="submit"], #container .frm_form_submit_style {
  width: auto;
  font-family: inherit;
  height: auto;
  text-align: center;
  border: none;
  cursor: pointer;
  text-shadow: none;
  border: 0;
  filter: none;
  background-color: #e8f8fb;
  border-width: 0;
  border-color: transparent;
  border-style: solid;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0));
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#container .with_frm_style .frm_form_fields select,
#container .with_frm_style .frm_form_fields input[type="file"] {
  padding: .7em;
}
#container .with_frm_style .frm_form_fields input[type="text"],
#container .with_frm_style .frm_form_fields input[type="email"],
#container .with_frm_style .frm_form_fields input[type="password"],
#container .with_frm_style .frm_form_fields textarea {
  width: 100%;
}
#container .frm_radio input[type="radio"] {
  display: none;
}
#container .frm_radio input[type="radio"] + label {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: #8d7662;
  background: url("images/radio-buttons.png") 0 -35px no-repeat;
  height: 40px;
  padding: 5px 5px 0 40px;
}
#container .frm_radio input[type="radio"]:checked + label {
  background: url("images/radio-buttons.png") 0 0 no-repeat;
}
#container .with_frm_style .creative_cakes_cake_radio label.frm_primary_label {
  font-size: 30px;
  font-size: 3rem;
  color: #fd955c;
}
#container .creative_cakes_radio_box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 10px solid #e8f8fb;
  padding: 10px;
}
#container .creative_cakes_radio_box label.frm_primary_label {
  font-size: 18px;
  font-size: 1.8rem;
  color: #8cc0d3;
}
#container .creative_cakes_cake_radio .frm_radio {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 300px;
  height: 125px;
  position: relative;
  margin: 10px;
}
#container .creative_cakes_cake_radio .frm_radio input[type="radio"] {
  display: none;
}
#container .creative_cakes_cake_radio .frm_radio input[type="radio"] + label {
  width: 300px;
  height: 125px;
  padding: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  color: #8d7662;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  text-align: right;
  background: url("images/boxes-s94793cd31b.png") 10px -107px no-repeat;
}
#container .creative_cakes_cake_radio .frm_radio:last-child input[type="radio"] + label {
  background: url("images/boxes-s94793cd31b.png") 10px 0 no-repeat;
}
#container .creative_cakes_cake_radio .frm_radio input[type="radio"]:checked + label {
  border: 5px solid #e8f8fb;
}
@media screen and (max-width: 400px) {
  #container .frm_form_field.frm_left_third,
  #container .frm_form_field.frm_third,
  #container .frm_form_field.frm_right_third,
  #container .frm_form_field.frm_first_third,
  #container .frm_form_field.frm_last_third {
    clear: both;
    float: none;
    width: auto;
  }
}
@media screen and (max-width: 400px) {
  #container .frm_form_field.frm_left_half,
  #container .frm_form_field.frm_right_half,
  #container .frm_form_field.frm_first_half,
  #container .frm_form_field.frm_last_half {
    clear: both;
    float: none;
    width: auto;
  }
}
@media screen and (max-width: 400px) {
  #container .frm_form_field.frm_left_fourth,
  #container .frm_form_field.frm_fourth,
  #container .frm_form_field.frm_right_fourth,
  #container .frm_form_field.frm_first_fourth,
  #container .frm_form_field.frm_last_fourth {
    clear: both;
    float: none;
    width: auto;
  }
}

/**
 * Main
 * --------------------------------------------------------------------------- */
#main {
  background-color: #fff;
}
@media screen and (min-width: 300px) {
  #main {
    background: transparent url("images/main-bg.png") top left repeat;
    background-image: url("images/main-top-left.png"), url("images/main-top-right.png"), url("images/main-bottom-left.png"), url("images/main-bottom-right.png"), url("images/main-bg.png"), url("images/main-bg.png");
    background-position: top left, top right, bottom left, bottom right, top center, left center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x;
    -moz-background-size: 280px 280px, 280px 280px, 280px 280px, 280px 280px, 90% 100%, 100% 90%;
    -o-background-size: 280px 280px, 280px 280px, 280px 280px, 280px 280px, 90% 100%, 100% 90%;
    -webkit-background-size: 280px 280px, 280px 280px, 280px 280px, 280px 280px, 90% 100%, 100% 90%;
    background-size: 280px 280px, 280px 280px, 280px 280px, 280px 280px, 90% 100%, 100% 90%;
    padding: 20px;
  }
}

/**
 * Header
 * --------------------------------------------------------------------------- */
#site-title,
#site-description {
  color: #8d7662;
}
#site-title a,
#site-description a {
  color: #8d7662;
}
#site-title a:visited,
#site-description a:visited {
  color: #8d7662;
}
#site-title a:focus,
#site-description a:focus {
  color: #8d7662;
}
#site-title a:hover,
#site-description a:hover {
  color: #8cc0d3;
}
#site-title a:active,
#site-description a:active {
  color: #8d7662;
}

#site-title {
  line-height: 3;
}

#site-description {
  margin-top: -2em;
}

/**
 * Menus
 * --------------------------------------------------------------------------- */
/* ====== Primary Menu ====== */
#menu-primary {
  text-transform: uppercase;
}

#menu-primary ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

#header-tag-link {
  margin-top: 20px;
  margin-right: 10px;
  text-align: right;
  font-size: 12px;
  font-size: 1.2rem;
}
#header-tag-link a {
  color: #fd955c;
  text-transform: uppercase;
  text-decoration: none;
}
#header-tag-link a:visited {
  color: #fd955c;
}
#header-tag-link a:focus {
  color: #fd955c;
}
#header-tag-link a:hover {
  color: #8cc0d3;
}
#header-tag-link a:active {
  color: #fd955c;
}

@media screen and (max-width: 767px) {
  .menu-toggle {
    cursor: pointer;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 21px;
    color: #8cc0d3;
    background: url(images/mobile-menu-icon.png) no-repeat 0 0;
    padding-left: 25px;
    text-decoration: none;
  }

  .menu-toggle:hover,
  .menu-toggle.active {
    color: #fd955c;
    text-decoration: underline;
    background-position: 0 -21px;
  }

  #menu-primary {
    margin-top: 20px;
  }
  #menu-primary .wrap {
    text-align: left;
    position: relative;
    clear: both;
    margin: 25px 25px 0 0;
    padding: 25px 25px 0 0;
    z-index: 999;
    background: #fff;
    border: solid 1px #d5d5d5;
    display: none;
    /* visibility will be toggled with jquery */
  }
}
@media screen and (min-width: 767px) {
  #header-tag-link {
    margin-top: 0;
    background: url("images/tag.png") no-repeat 0 0;
    padding: 48px 0 0 10px;
    text-align: center;
    font-size: 18px;
  }

  #menu-primary .menu-items {
    zoom: 1;
    z-index: 99;
  }

  #menu-primary .menu-items::before,
  #menu-primary .menu-items::after {
    content: "";
    display: table;
  }

  #menu-primary .menu-items::after {
    clear: both;
  }

  #menu-primary .menu-items > ul {
    width: 100%;
    margin: 3em auto;
  }

  #menu-primary ul ul {
    margin: 2em 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 3em;
    z-index: 1;
    text-align: left;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }

  #menu-primary li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }

  #menu-primary ul ul ul {
    top: 0;
    left: 230px;
    margin: 0 0 0 2em;
  }

  #menu-primary li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
  }

  #menu-primary li a {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 0.5em 1em;
    color: #8d7662;
    text-decoration: none;
  }

  #menu-primary li a:hover,
  #menu-primary li:hover > a,
  #menu-primary li.current-menu-item > a {
    background-color: #fff;
  }

  #menu-primary li li.current-menu-item > a {
    font-weight: bold;
  }

  #menu-primary li li a {
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #8d7662;
    background: #fff;
    opacity: 0.98;
  }

  #menu-primary li li a:hover,
  #menu-primary li li:hover > a {
    color: #fff;
    background: #8cc0d3;
  }

  #menu-primary ul ul li {
    float: none;
    display: block;
  }

  #menu-primary ul ul li a {
    width: 204px;
    display: block;
    float: none;
  }
}
/* ====== Primary Menu ====== */
/**
 * Social Menu
 * --------------------------------------------------------------------------- */
#social-menu-container {
  margin-top: 10px;
}

.social-menu {
  list-style: none;
  margin: 0 0 15px;
}
.social-menu li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-color: #ffffff;
  border: 3px solid #e1f4f8;
  -moz-box-shadow: #f0f0f0 1px 1px 3px;
  -webkit-box-shadow: #f0f0f0 1px 1px 3px;
  box-shadow: #f0f0f0 1px 1px 3px;
}
.social-menu li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  color: #8cc0d3;
}
.social-menu li a:visited {
  color: #8cc0d3;
}
.social-menu li a:focus {
  color: #fd955c;
}
.social-menu li a:hover {
  color: #fd955c;
}
.social-menu li a:active {
  color: #fd955c;
}
.social-menu li a,
.social-menu [class^="fa-"],
.social-menu [class*=" fa-"] {
  color: #8cc0d3;
  color: #8cc0d3;
}
.social-menu li a:visited,
.social-menu [class^="fa-"]:visited,
.social-menu [class*=" fa-"]:visited {
  color: #8cc0d3;
}
.social-menu li a:focus,
.social-menu [class^="fa-"]:focus,
.social-menu [class*=" fa-"]:focus {
  color: #fd955c;
}
.social-menu li a:hover,
.social-menu [class^="fa-"]:hover,
.social-menu [class*=" fa-"]:hover {
  color: #fd955c;
}
.social-menu li a:active,
.social-menu [class^="fa-"]:active,
.social-menu [class*=" fa-"]:active {
  color: #fd955c;
}
.social-menu li a:before,
.social-menu [class^="fa-"]:before,
.social-menu [class*=" fa-"]:before {
  color: #8cc0d3;
}
.social-menu li a:hover:before,
.social-menu [class^="fa-"]:hover:before,
.social-menu [class*=" fa-"]:hover:before {
  color: #fd955c;
}
.social-menu li a::before,
.social-menu [class^="fa-"]::before,
.social-menu [class*=" fa-"]::before {
  -webkit-font-smoothing: antialiased;
  font-family: 'FontAwesome';
  vertical-align: middle;
  display: inline-block;
  line-height: 32px;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 22px;
  text-align: center;
  background-color: #f9f9f9;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #8cc0d3;
  top: 1px;
  left: 1px;
  position: relative;
}
.social-menu [class^="fa-"] a,
.social-menu [class*=" fa-"] a {
  top: -32px;
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0;
}
.social-menu [class^="fa-"] a::before,
.social-menu [class*=" fa-"] a::before {
  content: none !important;
}
.social-menu li a::before {
  content: "";
}
.social-menu li a[href*="facebook.com"]::before {
  content: "";
}
.social-menu li a[href*="twitter.com"]::before {
  content: "";
}
.social-menu li a[href*="dribbble.com"]::before {
  content: "";
}
.social-menu li a[href*="plus.google.com"]::before {
  content: "";
}
.social-menu li a[href*="pinterest.com"]::before {
  content: "";
}
.social-menu li a[href*="github.com"]::before {
  content: "";
}
.social-menu li a[href*="bitbucket.com"]::before {
  content: "";
}
.social-menu li a[href*="tumblr.com"]::before {
  content: "";
}
.social-menu li a[href*="youtube.com"]::before {
  content: "";
}
.social-menu li a[href*="flickr.com"]::before {
  content: "";
}
.social-menu li a[href*="instagram.com"]::before {
  content: "";
}
.social-menu li a[href*="linkedin.com"]::before {
  content: "";
}
.social-menu li a[href*="/feed"]::before {
  content: "";
}
.social-menu li a[href*="dropbox.com"]::before {
  content: "";
}
.social-menu li a[href*="foursquare.com"]::before {
  content: "";
}
.social-menu li a[href*="flickr.com"]::before {
  content: "";
}
.social-menu li a[href*="skype.com"]::before {
  content: "";
}
.social-menu li a[href*="mailto"]::before {
  content: "";
}

/**
 * Content
 * --------------------------------------------------------------------------- */
/* ====== BREADCRUMBS ====== */
.breadcrumb-trail {
  word-wrap: break-word;
  margin: 0 0 1.1em;
}

/* ====== POSTS ====== */
.hentry, .loop-meta, .attachment-meta {
  margin: 0 0 2em;
  /* 13 x 2 = 26px */
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cc-read-more {
  display: block;
  padding-top: 1px;
}

/* === Post Header === */
.entry-title {
  word-wrap: break-word;
  margin-bottom: 0;
}

h1.entry-title {
  font-size: 30px;
  font-size: 3rem;
  color: #fd955c;
}

.layout-1c h1.entry-title {
  font-size: 48px;
  font-size: 4.8rem;
  color: #dee4b1;
  margin-bottom: 1em;
}

.entry-byline {
  color: #d7cbc1;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.entry-byline abbr {
  border-bottom: none;
}

.entry-meta {
  color: #d7cbc1;
}

.entry-byline a, .entry-meta a {
  color: #d7cbc1;
  text-decoration: none;
}
.entry-byline a:visited, .entry-meta a:visited {
  color: #d7cbc1;
}
.entry-byline a:focus, .entry-meta a:focus {
  color: #d7cbc1;
}
.entry-byline a:hover, .entry-meta a:hover {
  color: #dee4b1;
}
.entry-byline a:active, .entry-meta a:active {
  color: #d7cbc1;
}

/* === Post content and excerpts === */
/* === Post Footer === */
.entry-footer {
  clear: both;
}

/* === Asides === */
/* === Chats === */
/* === Links === */
/* === Galleries === */
/* === Quotes === */
/* === Status updates === */
/* === Audio and Video === */
/* ====== Attachment Meta (on image attachment pages) ====== */
/* ====== LOOP META ====== */
.loop-title {
  margin-bottom: 0.5em;
}

/* ====== PAGINATION ====== */
/* === Single posts using <!--nextpage--> === */
.page-links {
  clear: both;
}

.page-links .before {
  margin-right: 5px;
}

.page-links a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 5px;
  padding: 5px 15px;
  background: #fafafa;
  border: 1px solid #efefef;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sticky .page-links a {
  background: #f5f5f5;
  border-color: 1px solid #e5e5e5;
}

.page-links a:hover {
  background: #efefef;
  border-color: #d5d5d5;
}

/* === Archive-type pages and single post navigation (between different posts) === */
.loop-pagination,
.loop-nav {
  clear: both;
  margin: 0 0 50px;
  font-size: 13px;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 1em;
}

.page-numbers,
.loop-nav a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 5px;
  padding: 5px 15px;
  background: #e8f8fb;
  border-color: #8cc0d3;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #8cc0d3;
}

.loop-nav a[rel="prev"] {
  float: left;
  margin: 0;
}

.loop-nav a[rel="next"] {
  float: right;
  margin: 0;
  text-align: right;
}

a.page-numbers:hover,
.loop-nav a:hover {
  background: #fd955c;
  color: #fff;
}

.page-numbers.current {
  color: #8d7662;
  font-weight: bold;
}

/* === Comments pagination === */
.comments-nav {
  position: relative;
  margin: -60px 0 35px;
  text-align: right;
}

.comments-nav a {
  font-size: 0.9375rem;
}

.comments-nav .page-numbers {
  margin: 0 5px;
  padding: 0;
  font-style: italic;
  font-size: 0.875rem;
  color: #959595;
  background: transparent;
  border: none;
}

/**
 * Sidebars and widgets
 * --------------------------------------------------------------------------- */
/* ====== General ====== */
.sidebar {
  margin-bottom: .308em;
}

.widget {
  position: relative;
  padding: 0 0 1.538em 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.widget.title {
  width: 100%;
  padding: 0 0 0.385em 0;
  margin: 0;
  font-size: 30px;
  font-size: 3rem;
}

.widget.nav-menu ol, .widget.nav-menu ul,
.widget.-pages ol,
.widget.-pages ul,
.widget.recent_entries ol,
.widget.recent_entries ul,
.widget.recent_comments ol,
.widget.recent_comments ul {
  list-style: none;
  margin-left: 0;
}
.widget.nav-menu ol ol, .widget.nav-menu ol ul, .widget.nav-menu ul ol, .widget.nav-menu ul ul,
.widget.-pages ol ol,
.widget.-pages ol ul,
.widget.-pages ul ol,
.widget.-pages ul ul,
.widget.recent_entries ol ol,
.widget.recent_entries ol ul,
.widget.recent_entries ul ol,
.widget.recent_entries ul ul,
.widget.recent_comments ol ol,
.widget.recent_comments ol ul,
.widget.recent_comments ul ol,
.widget.recent_comments ul ul {
  margin-left: 2em;
}
.widget.nav-menu ol ol ol, .widget.nav-menu ol ol ul, .widget.nav-menu ol ul ol, .widget.nav-menu ol ul ul, .widget.nav-menu ul ol ol, .widget.nav-menu ul ol ul, .widget.nav-menu ul ul ol, .widget.nav-menu ul ul ul,
.widget.-pages ol ol ol,
.widget.-pages ol ol ul,
.widget.-pages ol ul ol,
.widget.-pages ol ul ul,
.widget.-pages ul ol ol,
.widget.-pages ul ol ul,
.widget.-pages ul ul ol,
.widget.-pages ul ul ul,
.widget.recent_entries ol ol ol,
.widget.recent_entries ol ol ul,
.widget.recent_entries ol ul ol,
.widget.recent_entries ol ul ul,
.widget.recent_entries ul ol ol,
.widget.recent_entries ul ol ul,
.widget.recent_entries ul ul ol,
.widget.recent_entries ul ul ul,
.widget.recent_comments ol ol ol,
.widget.recent_comments ol ol ul,
.widget.recent_comments ol ul ol,
.widget.recent_comments ol ul ul,
.widget.recent_comments ul ol ol,
.widget.recent_comments ul ol ul,
.widget.recent_comments ul ul ol,
.widget.recent_comments ul ul ul {
  margin-left: 2em;
}

/* ====== Specific ====== */
#sidebar-primary .widget:after {
  clear: both;
  position: absolute;
  bottom: 10px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  vertical-align: middle;
  word-spacing: 1px;
  word-wrap: normal;
  white-space: nowrap;
  content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . .';
  font-size: 48px;
  font-size: 4.8rem;
  color: #dee4b1;
  line-height: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#sidebar-subsidiary .widget-title {
  color: #fd955c;
}
#sidebar-subsidiary .widget:nth-child(4) .widget-title {
  color: #8cc0d3;
}
#sidebar-subsidiary a {
  color: #8d7662;
  text-decoration: none;
}
#sidebar-subsidiary a:visited {
  color: #8d7662;
}
#sidebar-subsidiary a:focus {
  color: #8d7662;
}
#sidebar-subsidiary a:hover {
  color: #d7cbc1;
}
#sidebar-subsidiary a:active {
  color: #8d7662;
}

#sidebar-home-one h3 {
  font-size: 36px;
  font-size: 3.6rem;
  color: #fd955c;
}
#sidebar-home-one p {
  font-size: 18px;
  font-size: 1.8rem;
}

/* widgets */
.from_the_blog_widget h3.widget-title {
  font-size: 48px;
  font-size: 4.8rem;
  color: #dee4b1;
}

.from-blog-layout-three > div,
.from-blog-layout-four > div {
  margin-top: 2em;
}
.from-blog-layout-three h3.entry-title,
.from-blog-layout-four h3.entry-title {
  text-align: center;
  font-size: 20px;
  font-size: 2rem;
}

.cc_box_widget .widget-inside {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  padding: 10px 15px;
  border: 1em solid #e8f8fb;
}
@media screen and (min-width: 350px) {
  .cc_box_widget .widget-inside {
    padding: 30px 35px;
    width: 290px;
    height: 356px;
    background: #fff url("images/box.png") top center no-repeat;
    border: none;
  }
}
.cc_box_widget .widget-inside h3 {
  font-size: 20px;
  font-size: 2rem;
  color: #fd955c;
  padding: 0;
  line-height: 1.5;
}
@media screen and (min-width: 350px) {
  .cc_box_widget .widget-inside h3 {
    font-size: 30px;
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
  }
}
.cc_box_widget .widget-inside .box-content {
  line-height: 1.5;
}
@media screen and (min-width: 350px) {
  .cc_box_widget .widget-inside .box-content {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
  }
}
@media screen and (min-width: 350px) {
  .cc_box_widget .widget-inside .link-button {
    position: absolute;
    bottom: 50px;
    left: 50%;
  }
}
@media screen and (min-width: 350px) {
  .cc_box_widget .widget-inside .link-button a {
    position: relative;
    left: -50%;
  }
}
@media screen and (min-width: 350px) {
  .cc_box_widget .widget-inside .boxes-icon {
    height: 97px;
  }
  .cc_box_widget .widget-inside .boxes-cake {
    background-position: 50% 0;
  }
  .cc_box_widget .widget-inside .boxes-cupcake {
    background-position: 50% -107px;
  }
  .cc_box_widget .widget-inside .boxes-knifefork {
    background-position: 50% -214px;
  }
  .cc_box_widget .widget-inside .boxes-spoon {
    background-position: 50% -321px;
  }
}

.widget.search #searchform {
  background-color: #e8f8fb;
}
.widget.search #searchform .submit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 18%;
  margin: 0;
  background: url("images/search-button.png") center center no-repeat;
  font-size: 14px;
  font-size: 1.4rem;
  cursor: pointer;
  cursor: hand;
}
.widget.search #searchform .field {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 80%;
  margin: 0;
}
.widget.search .search-text {
  color: #ccc;
}

/**
 * Flexslider CSS
 * --------------------------------------------------------------------------- */
#home-flexslider,
.home-flexslider {
  margin-bottom: 50px;
  padding: 30px !important;
  /* FlexSlider Necessary Styles */
  /* Hide the slides before the JS is loaded. Avoids image jumping */
  /* Clearfix for the .slides element */
  /* No JavaScript Fallback */
  /* If you are not using another script, such as Modernizr, make sure you
   * include js that eliminates this class on page load */
  /* FlexSlider Default Theme
  *********************************/
  /* Direction Nav */
  /* Control Nav */
}
@media screen and (max-width: 300px) {
  #home-flexslider,
  .home-flexslider {
    display: none;
  }
}
#home-flexslider .widget-wrap,
.home-flexslider .widget-wrap {
  border: 15px solid #e8f8fb;
  -moz-box-shadow: gray 0 10px 20px -10px;
  -webkit-box-shadow: gray 0 10px 20px -10px;
  box-shadow: gray 0 10px 20px -10px;
}
#home-flexslider .flex-container a:active,
#home-flexslider .flexslider a:active,
#home-flexslider .flex-container a:focus,
#home-flexslider .flexslider a:focus,
.home-flexslider .flex-container a:active,
.home-flexslider .flexslider a:active,
.home-flexslider .flex-container a:focus,
.home-flexslider .flexslider a:focus {
  outline: none;
}
#home-flexslider .slides,
#home-flexslider .flex-control-nav,
#home-flexslider .flex-direction-nav,
.home-flexslider .slides,
.home-flexslider .flex-control-nav,
.home-flexslider .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
#home-flexslider .flexslider,
.home-flexslider .flexslider {
  margin: 0;
  padding: 0;
  max-height: 325px;
}
#home-flexslider .flexslider .slides > li,
.home-flexslider .flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
#home-flexslider .flexslider .slides img,
.home-flexslider .flexslider .slides img {
  width: 100%;
  display: block;
}
#home-flexslider .flex-pauseplay span,
.home-flexslider .flex-pauseplay span {
  text-transform: capitalize;
}
#home-flexslider .slides:after,
.home-flexslider .slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#home-flexslider html[xmlns] .slides,
.home-flexslider html[xmlns] .slides {
  display: block;
}
#home-flexslider * html .slides,
.home-flexslider * html .slides {
  height: 1%;
}
#home-flexslider .no-js .slides > li:first-child,
.home-flexslider .no-js .slides > li:first-child {
  display: block;
}
#home-flexslider .flexslider,
.home-flexslider .flexslider {
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1;
}
#home-flexslider .flex-viewport,
.home-flexslider .flex-viewport {
  max-height: 320px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
#home-flexslider .loading .flex-viewport,
.home-flexslider .loading .flex-viewport {
  max-height: 320px;
}
#home-flexslider .flexslider .slides,
.home-flexslider .flexslider .slides {
  zoom: 1;
}
#home-flexslider .carousel li,
.home-flexslider .carousel li {
  margin-right: 5px;
}
#home-flexslider .flex-direction-nav,
.home-flexslider .flex-direction-nav {
  *height: 0;
}
#home-flexslider .flex-direction-nav a,
.home-flexslider .flex-direction-nav a {
  margin: -20px 0 0;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transition: all .3s ease;
}
#home-flexslider .flex-direction-nav .flex-next,
.home-flexslider .flex-direction-nav .flex-next {
  background-position: 0 -60px;
  height: 60px;
  width: 28px;
  right: -43px;
  margin-top: -29px;
  background-color: transparent;
}
#home-flexslider .flex-direction-nav .flex-prev,
.home-flexslider .flex-direction-nav .flex-prev {
  background-position: 0 0;
  height: 60px;
  width: 28px;
  left: -43px;
  margin-top: -29px;
  background-color: transparent;
}
#home-flexslider .flexslider:hover .flex-next:hover, #home-flexslider .flexslider:hover .flex-prev:hover,
.home-flexslider .flexslider:hover .flex-next:hover,
.home-flexslider .flexslider:hover .flex-prev:hover {
  opacity: 1;
}
#home-flexslider .flex-direction-nav .flex-disabled,
.home-flexslider .flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default;
}
#home-flexslider .flex-control-nav,
.home-flexslider .flex-control-nav {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -50px;
}
#home-flexslider .flex-control-nav li,
.home-flexslider .flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#home-flexslider .flex-control-paging li a,
.home-flexslider .flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
#home-flexslider .flex-control-paging li a:hover,
.home-flexslider .flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
#home-flexslider .flex-control-paging li a.flex-active,
.home-flexslider .flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
#home-flexslider .flex-control-thumbs,
.home-flexslider .flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
#home-flexslider .flex-control-thumbs li,
.home-flexslider .flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
#home-flexslider .flex-control-thumbs img,
.home-flexslider .flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
#home-flexslider .flex-control-thumbs img:hover,
.home-flexslider .flex-control-thumbs img:hover {
  opacity: 1;
}
#home-flexslider .flex-control-thumbs .flex-active,
.home-flexslider .flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/**
 * Soliloquy plugin
 * --------------------------------------------------------------------------- */
.widget.soliloquy {
  padding: 30px !important;
}
.widget.soliloquy .widget-wrap {
  border: 15px solid #e8f8fb;
  -moz-box-shadow: gray 0 10px 20px -10px;
  -webkit-box-shadow: gray 0 10px 20px -10px;
  box-shadow: gray 0 10px 20px -10px;
}

#container .soliloquy-container .soliloquy-direction-nav li .soliloquy-prev {
  background-position: 0 0;
  height: 60px;
  width: 28px;
  left: -43px;
  margin-top: -29px;
  background-color: transparent;
}
#container .soliloquy-container .soliloquy-direction-nav li .soliloquy-next {
  background-position: 0 -60px;
  height: 60px;
  width: 28px;
  right: -43px;
  margin-top: -29px;
  background-color: transparent;
}
#container .soliloquy-container .soliloquy-control-nav {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  bottom: -40px;
}
#container .soliloquy-container .soliloquy-direction-nav {
  display: block;
}

.soliloquy-theme-creative-cakes.soliloquy-container .soliloquy-pager {
  height: 14px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -50px;
}
.soliloquy-theme-creative-cakes.soliloquy-container .soliloquy-pager-link {
  background-image: none;
  width: 11px;
  height: 11px;
  display: block;
  background: #666 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.soliloquy-theme-creative-cakes.soliloquy-container .soliloquy-pager-link.active, .soliloquy-theme-creative-cakes.soliloquy-container .soliloquy-pager-link:hover {
  background-image: none;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.soliloquy-theme-creative-cakes.soliloquy-container .soliloquy-prev {
  background-position: 0 0;
  height: 60px;
  margin-top: -30px;
  left: -42px;
  background-color: transparent;
}
.soliloquy-theme-creative-cakes.soliloquy-container .soliloquy-next {
  background-position: 0 -60px;
  height: 60px;
  margin-top: -30px;
  right: -48px;
  background-color: transparent;
}

/**
 * Comments Template
 * --------------------------------------------------------------------------- */
#comments {
  position: relative;
  margin: 0 0 4em;
}

/* === Comments closed message === */
.comments-closed {
  padding: 2em 0 0;
  font-style: italic;
  color: #fd955c;
  text-align: center;
}

/* === Comment list === */
ol.comment-list {
  list-style: none;
  margin: 0 0 25px;
}

ol.comment-list ol.children {
  list-style: none;
  margin: -5px 0 0 5px;
  padding: 5px 0 0 5px;
}
@media screen and (min-width: 767px) {
  ol.comment-list ol.children {
    margin: -25px 0 0 25px;
    padding: 25px 0 0 25px;
  }
}

/* === Individual comments */
li.comment,
li.ping {
  clear: both;
  position: relative;
}
li.comment.has-avatar img.avatar,
li.ping.has-avatar img.avatar {
  float: left;
  margin-right: 10px;
}

li.comment .comment-content {
  clear: both;
  position: relative;
  padding: 15px;
  margin: 1em 0 3em 40px;
  background: #f9f9f9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (min-width: 767px) {
  li.comment .comment-content:after {
    content: "";
    position: absolute;
    border-style: solid;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
    top: 10px;
    left: -40px;
    /* value = - border-left-width - border-right-width */
    bottom: auto;
    border-width: 1px 40px 15px 0px;
    /* vary these values to change the angle of the vertex */
    border-color: transparent #f9f9f9;
  }
}
@media screen and (min-width: 767px) {
  li.comment.has-avatar .comment-content {
    margin-left: 130px;
  }
}
li.comment.bypostauthor .comment-content {
  background: #e8f8fb;
}
li.comment.bypostauthor .comment-content:after {
  border-color: transparent #e8f8fb;
}
li.comment iframe {
  max-width: 100%;
}
li.comment abbr {
  border-bottom: none;
}

li.ping {
  clear: both;
  position: relative;
  padding: 15px;
  margin: 1em 0 3em 0;
  background: #f9f9f9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* === Avatars === */
li.ping .avatar {
  float: right;
  margin: 0 0 25px 25px;
}

/* === Meta === */
.comment-meta {
  padding: 0;
  margin: 0 0 2em;
}

.comment-author {
  display: block;
}

/* === Comment text/content === */
.comment-text {
  clear: left;
  word-wrap: break-word;
  margin: 0 0 2em;
  padding: 2em 2em 0 2em;
  border: 1px solid #efefef;
}

li.bypostauthor > .comment-text {
  background: #f5f5f5;
  border-color: #e5e5e5;
}

/* === Reply link === */
.comment-reply-link {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  float: right;
  margin: -2em 0.5em 2em 0;
  padding: 0.25em 2em;
  font-size: 10px;
  font-size: 1rem;
  font-style: italic;
}

/* ====== RESPOND (COMMENT FORM) ====== */
#reply-title small {
  font-size: 14px;
  font-size: 1.4rem;
}

#respond .log-in-out a {
  font-style: normal;
}

#respond label {
  font-style: italic;
}

#respond label .required {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #cb5700;
}

#respond input[type="text"],
#respond input[type="password"],
#respond input[type="email"],
#respond input[type="url"] {
  display: block;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #respond input[type="text"],
  #respond input[type="password"],
  #respond input[type="email"],
  #respond input[type="url"] {
    width: 50%;
  }
}

#respond textarea {
  width: 100%;
  padding: 2em;
}

/**
 * Footer
 * --------------------------------------------------------------------------- */
#footer {
  background-color: #8d7662;
  position: relative;
  color: #fff;
  line-height: 3;
}
#footer a {
  color: #fff;
}
#footer a:visited {
  color: #fff;
}
#footer a:focus {
  color: #fff;
}
#footer a:hover {
  color: #fff;
}
#footer a:active {
  color: #fff;
}
#footer .credit {
  text-align: right;
}
#footer:after {
  content: ".";
  display: block;
  background: url("images/bg.png") repeat-x 0 0;
  height: 2em;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#footer p {
  margin-bottom: 0;
}

/**
 * Magnific Popup
 * --------------------------------------------------------------------------- */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 503;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 505;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 504;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 506;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: solid transparent;
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  opacity: 0.8;
  border-top-width: 12px;
  border-bottom-width: 12px;
  top: 8px;
}
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 20px;
  border-bottom-width: 20px;
}

.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 12px solid #000;
  left: 5px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  border-right: 20px solid #FFF;
}

.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 12px solid #000;
  left: 3px;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 20px solid #FFF;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.mfp-figure {
  line-height: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-break: break-word;
  padding-right: 36px;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  /* The shadow behind the image */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
}
@media all and (max-width: 800px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.mfp-ie7 .mfp-container {
  padding: 0;
}
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/**
 * grid columns plugin styles
 * --------------------------------------------------------------------------- */
@media screen and (max-width: 400px) {
  .column-grid .column {
    float: none;
    clear: both;
    width: auto;
  }
}

/**
 * Clearing Floats
 * --------------------------------------------------------------------------- */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Assistive text
 * --------------------------------------------------------------------------- */
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * jetpack
 * --------------------------------------------------------------------------- */
.jetpack_subscription_widget #subscribe-field {
  height: 3em;
  line-height: 2;
  padding: 1px 10px !important;
}
