/**
 * Basics
 * --------------------------------------------------------------------------- */

/* === HTML === */

html {
	font-size: $base-font;
	width: auto;
}

//http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*,
*:before,
*:after {
	@include box-sizing('border-box');
}

/* === Body === */

body {
	@include font-rem(13);
	line-height: 2;
	color: $color-brown;
	overflow-x: hidden;
}

p {
	word-wrap: break-word;
	margin: 0 0 1.5em 0;
}

/* === Links === */

a {
	@include link-colors( $color-pink, $color-blue, $color-pink, $color-pink, $color-pink);
}
  

a:hover {
	text-decoration: none;
}

/* === Headers === */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
	color: $color-blue;
	margin: 0 0 .5em 0;

	a {
		@include link-colors( $color-blue, $color-pink, $color-blue, $color-blue, $color-blue );
	}
}


h1 {
	@include font-rem(48);
	color: $color-yellow;

	a {
		@include link-colors( $color-yellow, $color-pink, $color-yellow, $color-yellow, $color-yellow );
	}
}

h2 {
	@include font-rem(30);
	color: $color-pink;

	a {
		@include link-colors( $color-pink, $color-blue, $color-pink, $color-pink, $color-pink );
	}
}

h3 {
	@include font-rem(26);
}

h4 {
	@include font-rem(22);
}

h5 {
	@include font-rem(20);
}

h6 {
	@include font-rem(16);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}

/* === Blockquotes, quotes, and cites === */

blockquote {
	margin: 0;
	//pixel padding to make sure quote bg fits
	padding: 8px 25px 0 50px;
	font-style: normal;
	background: url(images/quotes.png) no-repeat 0 0;
}

blockquote em, blockquote cite {
	font-style: italic;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

/* === Acronyms and abbreviations === */

acronym {
	font-variant: small-caps;
}

acronym,
abbr {
	border-bottom: 1px dotted $color-blue;
}

/* === Code and Preformatted text === */

code {
	padding:    1px 3px;
	color:      #111;
	background: #eee;
}

pre {
	padding:    2em;
	background: #ccc;
	border:     1px solid #ddd;
	margin-bottom: 2em;
}

pre code {
	padding:    0;
	background: transparent;
}

li.comment pre {
	background-color: #ccc;
}

/* === <address> tag === */

address {
	margin-bottom: 1.5em;
}

/* === Lists === */

ol, ul {
	list-style: none;
}

ul {
	list-style: disc;
	margin: 0 0 2em 2.5em;
}

ol {
	list-style-type: decimal;
	margin: 0 0 2em 3em;
}

ol ol {
	list-style: upper-roman;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: upper-alpha;
}

ol ol ol ol ol {
	list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}

dl {
	margin: 0 0 2em .5em;
}

dl dt {
	font-weight: bold;
	margin: 1em 0 0 0;
}

dl dd {
	margin: .5em 0 0 1.5em;
}


/* === Tables === */

table {
	width:         100%;
	border:        1px solid $color-brown;
	border-bottom: none;
	margin-bottom: 1.5em;
}

table caption {
	margin:       0 0 5px;
	font-variant: small-caps;
	color:        #858585;
}

th,
td {
	padding: 10px;
	@include box-sizing('border-box');
}

.widget th,
.widget td {
	padding: 5px 2px;
}

th {
	border-bottom: 1px solid $color-brown;
	border-right:  1px solid $color-brown;
	text-align:    left;
}

td {
	color: $color-brown;
	background:    #fafafa;
	border-bottom: 1px solid $color-brown;
	border-right:  1px solid $color-brown;
}

/* wp-calendar */
#wp-calendar th,
#wp-calendar td {
	text-align: center;
}

#wp-calendar thead {
	border-top: 1px solid $color-brown;
}

#wp-calendar thead,
#wp-calendar tbody {
	border-left: 1px solid $color-brown;
}

#wp-calendar thead th {
	background: $color-blue;
	color:      $color-brown;
}

#wp-calendar tbody td.pad {
	background: #fafafa;
}

#wp-calendar tbody td {
	@include font-rem(12);
	background: #fff;
}

#wp-calendar tbody a {
	display:     block;
	font-weight: bold;
}

#wp-calendar,
#wp-calendar tfoot tr,
#wp-calendar tfoot td {
	background: transparent;
	border:     none;
}

/* === Embeds === */

object {
	max-width: 100%;
}

embed {
	max-width: 100%;
}

iframe {
	max-width: 100%;
}

video {
	max-width: 100%;
}

/* === Alignement (WP classes) === */

.alignleft, .left {
	float: left;
	margin-right:  10px;
}

.alignright, .right {
	float: right;
	margin-left: 10px;
}

.aligncenter, .center {
	display: block;
	margin: 0 auto 15px auto;
}

.alignnone, .block {
	clear: both;
	margin: 0 0 15px 0;
}

img.alignleft, img.alignright {
	display: inline;
}