/**
 * Content
 * --------------------------------------------------------------------------- */

/* ====== BREADCRUMBS ====== */

.breadcrumb-trail {
	word-wrap: break-word;
	margin: 0 0 1.1em;
}

.breadcrumb-trail .trail-begin {}

.breadcrumb-trail .trail-end {}

.breadcrumb-trail .sep {}

.breadcrumb-trail a {}
.breadcrumb-trail a:hover {}

/* ====== POSTS ====== */

.hentry {
	@extend %clearfix;
}

.hentry, .loop-meta, .attachment-meta {
	margin: 0 0 2em; /* 13 x 2 = 26px */
	padding: 0;
	@include box-sizing(border-box);
}

.sticky {}

.cc-read-more {
	display:block;
	padding-top: 1px;
	a {
		@extend %link-button;
	}
}

/* === Post Header === */

.entry-title { 
	word-wrap: break-word;
	margin-bottom: 0;
}

h1.entry-title { 
	@include font-rem(30);
	color: $color-pink;
} 

.layout-1c h1.entry-title{
	@extend %title;
	@include font-rem(48);
	color: $color-yellow;
	margin-bottom: 1em;
}

.entry-title a {}
.entry-title a:hover {}

.entry-byline {
	color: $color-tan;
	text-transform: uppercase;
	margin-bottom: 1em;

	abbr {
		border-bottom: none;
	}
}

.entry-meta {
	color: $color-tan;
}

.entry-byline a, .entry-meta a {
	@include link-colors( $color-tan, $color-yellow, $color-tan, $color-tan, $color-tan);
	text-decoration: none;
}

.entry-byline .published {}

/* === Post content and excerpts === */

.entry-content {}

.entry-summary {}

/* === Post Footer === */

.entry-footer {
	clear: both;
}

.entry-meta {}

.entry-meta a {}
.entry-meta a:hover {}

.entry-meta .published {}

.entry-meta .category {}
.entry-meta .post_tag {}

/* === Asides === */

.format-aside {}

.format-aside .entry-content a.permalink {}

/* === Chats === */

.format-chat {}

.format-chat .chat-row {}

.format-chat .chat-text {}

.format-chat cite {}

.format-chat .chat-speaker-1 {}
.format-chat .chat-speaker-2 {}
.format-chat .chat-speaker-3 {}
.format-chat .chat-speaker-4 {}
.format-chat .chat-speaker-5 {}
.format-chat .chat-speaker-6 {}
.format-chat .chat-speaker-7 {}
.format-chat .chat-speaker-8 {}
.format-chat .chat-speaker-9 {}

/* === Links === */

.format-link {}

.format-link .entry-title {}

.format-link .entry-title a {}
.format-link .entry-title a:hover {}

.format-link .entry-title a .meta-nav {}

/* === Galleries === */

.format-gallery {}

.format-gallery .image-count {}

/* === Quotes === */

.format-quote {}

.format-quote blockquote {}

.format-quote blockquote cite {}

/* === Status updates === */

.format-status

.format-status .avatar {}

/* === Audio and Video === */

.format-video {}
.format-audio {}


/* ====== Attachment Meta (on image attachment pages) ====== */

.attachment-meta {}

.attachment-meta .image-gallery {}

.attachment-meta .image-info {}

.image-info ul {}

.image-info ul li {}

.image-info .prep {}

.image-info .image-data {}


/* ====== LOOP META ====== */

.loop-meta {}

.loop-title {
	@extend %title;
	margin-bottom: 0.5em;
}

.loop-description {}

/* ====== PAGINATION ====== */

/* === Single posts using <!--nextpage--> === */

.page-links {
	clear: both;
}

.page-links .before {
	margin-right: 5px; 
}

.page-links a {
	@include inline-block;
	margin:     0 5px;
	padding:    5px 15px;
	background: #fafafa;
	border:     1px solid #efefef;
	@include box-sizing('border-box');
}

.sticky .page-links a {
	background:   #f5f5f5;
	border-color: 1px solid #e5e5e5;
}

.page-links a:hover {
	background:   #efefef;
	border-color: #d5d5d5;
}

/* === Archive-type pages and single post navigation (between different posts) === */

.loop-pagination,
.loop-nav {
	clear:       both;
	margin:      0 0 50px;
	@include font-rem(13);
	text-align:  center;
	padding-bottom: 1em;
}

.page-numbers,
.loop-nav a {
	@include inline-block;
	margin:     0 5px;
	padding:    5px 15px;
	background:   $color-blue-bg;
	border-color: $color-blue;
	@include box-sizing(border-box);
	color: $color-blue;
}

.loop-nav a[rel="prev"] {
	float:  left;
	margin: 0;
}

.loop-nav a[rel="next"] {
	float:      right;
	margin:     0;
	text-align: right;
}

a.page-numbers:hover,
.loop-nav a:hover {
	background:   $color-pink;
	color: #fff;
}

.page-numbers.current {
	color: $color-brown;
	font-weight: bold;
}

/* === Comments pagination === */

.comments-nav {
	position: relative;
	margin: -60px 0 35px;
	text-align: right;
}

.comments-nav a {
	font-size: 0.9375rem;
}

.comments-nav .page-numbers {
	margin:     0 5px;
	padding:    0;
	font-style: italic;
	font-size:  0.875rem;
	color:      #959595;
	background: transparent;
	border:     none;
}