/**
 * Footer
 * --------------------------------------------------------------------------- */

#footer {
	background-color: $color-brown;
	position: relative;
	color: #fff;
	line-height: 3;
	a {
		@include link-colors( #fff, #fff, #fff, #fff, #fff );
	}

	.credit {
		text-align: right;
	}

	&:after {
		content: ".";
		display: block;
		background: url('images/bg.png') repeat-x 0 0;
		height: 2em;
		width: 100%;
		overflow: hidden;
		position: relative;
	}

	p {
		margin-bottom: 0;
	}

}