/* === Forms === */

form {
	margin-bottom: 2em;
}

fieldset {}

fieldset legend {}

label {}

input,
textarea,
select {
	@extend %input;
}

select,
input[type="file"] {
	padding: .7em;
}

/* Not all types, but these are more common for themes. */
input[type="checkbox"] {}
input[type="email"] {}
input[type="password"] {}

input[type="radio"] {}

input[type="reset"] {}
input[type="search"] {}
input[type="url"] {}

input[type="button"] {
	@extend %link-button;
}
input[type="submit"] {
	@extend %link-button;
	border: 0;
	@include box-shadow (none);
}

textarea {}

select {}

select optgroup {}

select option {}

button {
	@extend %link-button;
}

label {
	position: relative;
}

/* === Ninja Forms === */

.ninja-forms-all-fields-wrap {

	.field-wrap {
		padding: 5px;

		.widget_ninja_forms_widget & {
			padding: 0;
		}

	}

	#ninja_forms_required_items {
		.widget_ninja_forms_widget & {
			display: none;
		}
	}

	.field-wrap > label {
		font-weight: bold;
	}

	.form_group {
		padding-right: 10px;
		padding-left: 10px;
	}

	.form_label,
	.form_label p{
		margin: 0;
		padding: 0;
	}

	.field-wrap, .form_label_above {
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 0;
		p {
			margin-bottom: 0;
			font-weight: bold;
		}
	}

	.label-below label {
		font-size: 80%;
		font-weight: normal;
	}

	.form_inline_radio-wrap li {
		@include inline-block;
	}

	.list-radio-wrap li label {
		height: 40px;
	}

	input[type="radio"]{	
	    	display:none;
	}

	input[type="radio"] + span {
		content: ".";
		@include box-sizing('border-box');
	    	display: inline-block;
	    	color: $color-brown;
		background: url('images/radio-buttons.png') 0 -40px no-repeat;
		padding-left: 40px;
	}

	input[type="radio"]:checked + span {
	    background: url('images/radio-buttons.png') 0 -4px no-repeat;
	}

	.cc_border_box_wrap {
		border: 10px solid $color-blue-bg;
		padding: 10px;
	}

	.label-above .cc_border_box_wrap > label,
	.cc_border_box_wrap .label-above > label {
		@include font-rem(18);
		color: $color-blue;
		text-transform: uppercase;
		font-weight: bold;
	}

	.cc_cake_or_cupcakes_radio-wrap.label-above {
		border: none;
		padding: 0;
	}

	.cc_cake_or_cupcakes_radio-wrap.label-above > label {
		@include font-rem(30);
		color: $color-pink;
	}

	.cc_cake_or_cupcakes_radio-wrap li {
		display: inline-block;
		height: 200px;
		max-width: 100%;

		label {			
			@include font-rem(18);
			text-align: center;
		}
	}

	.cc_cake_or_cupcakes_radio-wrap input[type="radio"] + span{
		width: 300px;
		max-width: 90%;
		height: 125px;
		padding-left: 80px;
		padding-top: 45px;
		line-height: 1.1;
		border: 5px solid transparent;
		background: url('images/boxes-s94793cd31b.png') 10px -107px no-repeat;
	}

	.cc_cake_or_cupcakes_radio-wrap li:last-child  input[type="radio"] + span {
		background: url('images/boxes-s94793cd31b.png') 10px 0px no-repeat;
	}

	.cc_cake_or_cupcakes_radio-wrap input[type="radio"]:checked + span {
		border: 5px solid $color-blue-bg;
	}

	// this is a terrible hack
	div.cc_cupcake_dozen-wrap {
		text-align: right;
		margin-top: -20px;

		&.label-below input[type="text"] {
			width: 50%;
		}

		label {
			text-align: right;
		}
	}

}



/* === Formidable === */

 #container {

 	.frm_forms.with_frm_style {
		max-width: 100%;
	}

	.with_frm_style input[type=text],
	.with_frm_style input[type=password],
	.with_frm_style input[type=email],
	.with_frm_style input[type=number],
	.with_frm_style input[type=url],
	.with_frm_style input[type=tel],
	.with_frm_style select,
	.with_frm_style textarea,
	.frm_form_fields_style,
	.with_frm_style .frm_scroll_box .frm_opt_container,
	.frm_form_fields_active_style,
	.frm_form_fields_error_style,
	.with_frm_style .chzn-container-multi .chzn-choices,
	.with_frm_style .chzn-container-single .chzn-single {
		background-color: #ffffff;
	}

	.frm_full,
	.frm_full .wp-editor-wrap,
	.frm_full input,
	.frm_full select,
	.frm_full textarea {
		@media screen and ( max-width: $media-mobile ) {
			width: auto !important;
		}
	}

	.with_frm_style .submit input[type="submit"], .frm_form_submit_style {
		width: auto;
		font-family: inherit;
		height: auto;
		text-align: center;
		border: none;
		cursor: pointer;
		text-shadow: none;
		@extend %link-button;
		border: 0;
		filter: none;
		background-color: $color-blue-bg;
		border-width: 0;
		border-color: transparent;
		border-style: solid;
		@include background-image(linear-gradient(transparent, transparent 0%, transparent 100%, transparent));
		@include box-shadow (none);
		@include box-sizing(content-box);
		@include border-radius(0);
	}

	.with_frm_style .frm_form_fields input,
	#wpcontent .with_frm_style .frm_form_fields select,
	.with_frm_style .frm_form_fields select,
	.with_frm_style .frm_form_fields textarea {
		@extend %input;
	}

	.with_frm_style .frm_form_fields select,
	.with_frm_style .frm_form_fields input[type="file"] {
		padding: .7em;
	}

	.with_frm_style .frm_form_fields input[type="text"],
	.with_frm_style .frm_form_fields input[type="email"],
	.with_frm_style .frm_form_fields input[type="password"],
	.with_frm_style .frm_form_fields textarea {
		width: 100%;
	}

	.frm_radio {		

		input[type="radio"]{
		    display:none;
		}

		input[type="radio"] + label {
			@include box-sizing('border-box');
		    display: block;
		    width: 100%;
		    color: $color-brown;
			background: url('images/radio-buttons.png') 0 -35px no-repeat;
			height: 40px;
			padding: 5px 5px 0 40px;
		}

		input[type="radio"]:checked + label {
		    background: url('images/radio-buttons.png') 0 0 no-repeat;
		}

	}

	.with_frm_style .creative_cakes_cake_radio label.frm_primary_label {
		@include font-rem(30);
		color: $color-pink;
	}

	.creative_cakes_radio_box {
		@include box-sizing('border-box');
		border: 10px solid $color-blue-bg;
		padding: 10px;

		label.frm_primary_label {
			@include font-rem(18);
			color: $color-blue;
		}
	}

	.creative_cakes_cake_radio {

		.frm_radio {
			@include inline-block;
			width: 300px;
			height: 125px;
			position: relative;
			margin: 10px;

			// http://stackoverflow.com/questions/11256992/radio-button-background-image
			input[type="radio"]{
			    display:none;
			}

			input[type="radio"] + label {
			    width: 300px;
				height: 125px;
			    padding: 50px;
				@include box-sizing('border-box');
			    display:inline-block;
			    color: $color-brown;
			    @include font-rem(18);
				line-height: 20px;
				text-align: right;
				background: url('images/boxes-s94793cd31b.png') 10px -107px no-repeat;
			}

			&:last-child input[type="radio"] + label {
				background: url('images/boxes-s94793cd31b.png') 10px 0 no-repeat;
			}

			input[type="radio"]:checked + label {
			    border: 5px solid $color-blue-bg;
			}
		}
	}

	.frm_form_field.frm_left_third,
	.frm_form_field.frm_third,
	.frm_form_field.frm_right_third,
	.frm_form_field.frm_first_third,
	.frm_form_field.frm_last_third {
		@media screen and ( max-width: $media-phone ) {
			clear: both;
			float: none;
			width: auto;
		}
	}

	.frm_form_field.frm_left_half,
	.frm_form_field.frm_right_half,
	.frm_form_field.frm_first_half,
	.frm_form_field.frm_last_half {
		@media screen and ( max-width: $media-phone ) {
			clear: both;
			float: none;
			width: auto;
		}
	}

	.frm_form_field.frm_left_fourth,
	.frm_form_field.frm_fourth,
	.frm_form_field.frm_right_fourth,
	.frm_form_field.frm_first_fourth,
	.frm_form_field.frm_last_fourth {
		@media screen and ( max-width: $media-phone ) {
			clear: both;
			float: none;
			width: auto;
		}
	}
}