/**
 * grid columns plugin styles
 * --------------------------------------------------------------------------- */

.column-grid {

	@media screen and ( max-width: $media-phone ) {
		.column {
			float: none;
			clear:both;
			width: auto;
		}
	}

}

