/**
 * Header
 * --------------------------------------------------------------------------- */

#header {}

#branding {}

#site-title,
#site-description {
	color: $color-brown;
	a {
		@include link-colors( $color-brown, $color-blue, $color-brown, $color-brown, $color-brown);
	}
}

#site-title {
	line-height: 3;
}

#site-description {
	margin-top: -2em;
}