/**
 * Layout
 * --------------------------------------------------------------------------- */

@import "unsemantic/assets/sass/partials/unsemantic-vars";
@import "unsemantic/assets/sass/partials/unsemantic-ie-snap";
@include unsemantic-grid-placeholders;
@include unsemantic-grid-base;

#header {
	height: $header-height;
}

#header-tag-link {
	height: 110px;
	@include box-sizing('border-box');
	z-index: 100;
	position: absolute;
	top: 0;
	right: 0;
	width: 132px;
}

#container {
	background: url('images/bg.png') repeat-x 0 0;
}

#container .wrap {
	@extend %grid-container;
	position: relative;
}

#footer {
	.wrap {
		@extend %grid-container;
	}
	.footer-content {
		@extend %grid-columns-all;
		@extend %grid-parent;

		.copyright,
		.credit {
			@extend %grid-columns-all;
		}
	}
}

#header, #content,
#sidebar-primary,
#main .breadcrumbs,
#sidebar-subsidiary .widget,
#menu-primary,
#content,
#sidebar-primary,
#main .breadcrumbs,
#sidebar-home-one .widget,
#sidebar-home-two .widget,
#sidebar-home-three .widget,
#sidebar-home-one .widget:first-of-type,
#sidebar-home-one .widget:nth-of-type(2),
.form_third-wrap,
.from-blog-layout-three > div,
.from-blog-layout-four > div,
#social-menu-container
{
	@extend %grid-columns-all;
}

#main,
#main-inner,
.page-template-home #content,
#sidebar-subsidiary,
#sidebar-home-one,
#sidebar-home-two,
#sidebar-home-three,
.ninja-forms-all-fields-wrap,
.form_group,
.from-blog-layout-three,
.from-blog-layout-four   {
	@extend %grid-columns-all;
	@extend %grid-parent;
}

@media screen and (max-width: $media-mobile) {
  @include unsemantic-grid-placeholders(mobile);

	#header,
	#main,
	#main .breadcrumbs,
	#content,
	#sidebar-primary,
	#sidebar-subsidiary,
	#footer,
	#main-outer,
	#main-inner,
	#menu-primary,
	.footer-content,
	.copyright,
	.credit,
	#sidebar-home-one .widget,
	#sidebar-home-two .widget,
	#sidebar-home-three .widget,
	.ninja-forms-all-fields-wrap,
	.ninja-forms-all-fields-wrap > div,
	#social-menu-container{
		@extend %mobile-grid-100;
	}

	.loop-pagination,
	.loop-nav {
		margin-bottom: 50px;
	}

}

@media screen and (min-width: $media-mobile) {

  @include unsemantic-grid-placeholders(desktop);

  #social-menu-container {
	position: absolute;
	right: 0;
	top: 30px;
	z-index: 100;
	.has-price-tag & {
	  right: 140px;
	}
  }

	#header {
		@extend %desktop-grid-40;
		@extend %desktop-grid-columns-push-pull;
		@extend %desktop-pull-60;

		.no-primary-menu & {
			@extend %desktop-grid-100;
			float: none;
			left: 0;
		}
	}

	#menu-primary {
		@extend %desktop-grid-columns-push-pull;
		@extend %desktop-push-40;
		@extend %desktop-grid-60;

		.menu-toggle {
			display: none;
		}

		.wrap {
			position: relative;
			height: $header-height;
		}

	}

	#menu-primary-items {
		position: absolute;
		bottom: 2em;
	}

	#main,
	#main-inner,
	#main .breadcrumbs,
	#sidebar-subsidiary {
		@extend %desktop-grid-100;
	}

	#content {
		@extend %desktop-grid-75;
	}
	#sidebar-primary {
		@extend %desktop-grid-25;
	}

	// alt layouts
	.layout-1c #content {
		@extend %desktop-grid-100;
	}

	#sidebar-subsidiary {
		padding-left: 3em;
		padding-right: 3em;
		padding-top: 2em;
	}

	#sidebar-subsidiary .widget {
		@extend %desktop-grid-20;
		padding-left: 1em;
		padding-right: 1em;
	}

	#sidebar-subsidiary .widget:nth-child(4) {
		@extend %desktop-grid-40;
	}

	#sidebar-home-one {
		@extend %desktop-grid-100;
		.widget {
			@extend %desktop-grid-33;
		}
		.widget:nth-of-type(2) {
			@extend %desktop-grid-66;
		}
	}
	#sidebar-home-one:after {
		@extend %desktop-clearfix:after;
	}
	#sidebar-home-two {
		@extend %desktop-grid-100;
		.widget {
			@extend %desktop-grid-33;
		}
		.widget.cc_box_widget {
			@extend %desktop-grid-50;
		}
	}

	#sidebar-home-three {
		@extend %desktop-grid-100;
		.widget {
			@extend %desktop-grid-100;
		}
	}

	.from-blog-layout-three,
	.from-blog-layout-four {
		@extend %desktop-grid-100;
	}


	.from-blog-layout-three > div {
		@extend %desktop-grid-33;
		&:nth-of-type(4) {
			clear:both;
		}
	}

	.from-blog-layout-four > div {
		@extend %desktop-grid-25;
		&:nth-of-type(5) {
			clear:both;
		}
	}

	.footer-content {
		@extend %desktop-grid-100;
	}
	.copyright,
	.credit {
		@extend %desktop-grid-50;
	}

	.ninja-forms-all-fields-wrap {

		div.field-wrap,
		div.form_group {		
			@extend %desktop-grid-columns-all;
			@extend %desktop-grid-100;
		}
		div.field-wrap.form_third-wrap,
		div.form_group.form_third-wrap {
			clear: none;
			@extend %desktop-grid-33;
		}

		div.field-wrap.form_twothirds-wrap,
		div.form_group.form_twothirds-wrap {
			clear: none;
			@extend %desktop-grid-66;
		}
		div.field-wrap.form_half-wrap,
		div.form_group.form_half-wrap {
			clear: none;
			@extend %desktop-grid-50;
		}

		.form_row_start {
			clear: both;
		}

	}
}

@media screen and ( min-width: $media-cc-box-full ) {

  @include unsemantic-grid-placeholders(cc-box);

	#sidebar-home-two {
		@extend %cc-box-grid-100;
		.widget.cc_box_widget {
			@extend %cc-box-grid-33;
		}
	}

}



#menu-primary {}

#menu-secondary {}

#menu-subsidiary {}


.layout-2c-l #container {}
.layout-2c-r #container {}
.layout-3c-l #container {}
.layout-3c-r #container {}
.layout-3c-c #container {}