/**
 * Main
 * --------------------------------------------------------------------------- */

#main {
    background-color: #fff;

    @media screen and ( min-width: $media-tiny ) {

        background: transparent url('images/main-bg.png') top left repeat; // fallback
       @include background-image ( url('images/main-top-left.png'),
            url('images/main-top-right.png'),
            url('images/main-bottom-left.png'),
            url('images/main-bottom-right.png'),
            url('images/main-bg.png'),
            url('images/main-bg.png') );
        background-position: top left, top right, bottom left, bottom right, top center, left center;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x;
        @include background-size( 280px 280px, 280px 280px, 280px 280px, 280px 280px, 90% 100%, 100% 90% );
        padding: 20px;
    }

}