/**
 * Menus
 * --------------------------------------------------------------------------- */

/* ====== Primary Menu ====== */

#menu-primary {
	text-transform: uppercase;
}

#menu-primary ul {
	list-style: none;
	margin:     0;
	text-align: center;
}

#header-tag-link {
	margin-top: 20px;
	margin-right: 10px;
	text-align: right;
	@include font-rem(12);
	a {
		@include link-colors( $color-pink, $color-blue, $color-pink, $color-pink, $color-pink);
		text-transform: uppercase;
		text-decoration: none;
	}
}

@media screen and (max-width: $media-mobile) {

	.menu-toggle {
		cursor: pointer;
		@include font-rem(12);
		line-height: 21px; // height of background icon
		color: $color-blue;
		background:   url(images/mobile-menu-icon.png) no-repeat 0 0;
		padding-left: 25px; // space for background icon
		text-decoration: none;
	}

	.menu-toggle:hover,
	.menu-toggle.active {
		color: $color-pink;
		text-decoration: underline;
		background-position: 0 -21px;
	}

	#menu-primary {
		margin-top: 20px;
	
		.wrap {
			text-align: left;
			position:   relative;
			clear:      both;
			margin:     25px 25px 0 0;
			padding:    25px 25px 0 0;
			z-index:    999;
			background: #fff;
			border:     solid 1px #d5d5d5;
			display:    none; /* visibility will be toggled with jquery */
		}

	}
}

@media screen and (min-width: $media-mobile) {

	#header-tag-link {
		margin-top: 0;
		background: url('images/tag.png') no-repeat 0 0;
		padding: 48px 0 0 10px;
		text-align: center;
		font-size: 18px;
	}

	#menu-primary .menu-items {
		zoom: 1;
		z-index: 99;
	}

	#menu-primary .menu-items::before,
	#menu-primary .menu-items::after {
		content: "";
		display: table;
	}

	#menu-primary .menu-items::after {
		clear: both;
	}

	#menu-primary .menu-items > ul {
		width:  100%;
		margin: 3em auto;
	}

	#menu-primary ul ul {
		margin:     2em 0 0;
		opacity:    0;
		visibility: hidden;
		position:   absolute;
		top:        3em;
		z-index:    1;
		text-align: left;
		@include transition-property(all);
	  	@include transition-duration(0.1s);
	  	@include transition-timing-function(ease-in-out);
	}

	#menu-primary li:hover > ul {
		opacity:    1;
		visibility: visible;
		margin:     0;
		@include transition-property(all);
	  	@include transition-duration(0.35s);
	  	@include transition-timing-function(ease-in-out);
	}

	#menu-primary ul ul ul {
		top:    0;
		left:   230px;
		margin: 0 0 0 2em;
	}

	#menu-primary li {
		@include inline-block;
		position: relative;
	}

	#menu-primary li a {
		@include inline-block;
		padding: 0.5em 1em;
		color: $color-brown;
		text-decoration: none;
	}

	#menu-primary li a:hover,
	#menu-primary li:hover > a,
	#menu-primary li.current-menu-item > a {
		background-color: #fff;
	}

	#menu-primary li li.current-menu-item > a {
		font-weight: bold;
	}

	#menu-primary li li a {
		@include font-rem(12);
		text-transform: uppercase;
		color:         $color-brown;
		background:     #fff;
		opacity:        0.98;
	}

	#menu-primary li li a:hover,
	#menu-primary li li:hover > a {
		color:      #fff;
		background: $color-blue;
	}

	#menu-primary ul ul li {
		float:   none;
		display: block;
	}

	#menu-primary ul ul li a {
		width:   204px;
		display: block;
		float:   none;
	}
}

/* ====== Primary Menu ====== */