// my mixins

// declaring this here because it goes with font-rem mixin calculation below
// if you change this value, then the px / rem calculation below also changes
$base-font: 62.5%;

// mixin to shorten declaring rem with pixel fall-back, calculation is dependent
// $base-font above
@mixin font-rem($inpx) {
	font-size: $inpx * 1px;
	font-size: $inpx * 0.1rem;
}

%title { 
	margin: 0 auto; 
	line-height: 1.2; 
	text-align: center; 

	@media screen and (min-width: $media-mobile) {		
		height: 1.2em; 
		white-space: nowrap; 
		overflow: hidden; 
	}

	&:before,
	&:after { 
		@media screen and (min-width: $media-mobile) {
			position: relative; 
			top: -6px; 
			@include inline-block;
			overflow: hidden; 
			margin: 0 10px; 
			width: 30%; 
			min-width: 25%; 
			vertical-align: middle; 
			height: .5em; 
			line-height: .25em; 
			word-spacing: 1px; 
			white-space: nowrap; 
			content: ". . . . . . . . . . . . . ."; 
		}
	} 
} 

%link-button {
	@include font-rem(13);
	@include inline-block;
	background-color: $color-blue-bg;
	color: $color-blue;
	line-height: 2;
	width: auto;
	text-decoration: none;
	text-transform: uppercase;
	margin: 1em auto;
	padding: 0 .5385em;
	&:visited, &:active {
		color: $color-blue;
	}
	&:hover {
		color: #ffffff;
		background: $color-pink;
		text-decoration: none;
	}
}

%input {
	@include font-rem(14);
	@include box-sizing(border-box);
	border: 2px outset #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	padding: .7em 2em;
}