/**
 * Sidebars and widgets
 * --------------------------------------------------------------------------- */

/* ====== General ====== */

.sidebar {
	margin-bottom: .308em;
}

.widget {
	position:   relative;
	padding:    0 0 1.538em 0;
	@include box-sizing( border-box) ;
	word-wrap: break-word;
}

.widget.title {
	width: 100%;
	padding: 0 0 0.385em 0;
	margin: 0;
	@include font-rem(30);
}

.widget.nav-menu,
.widget.-pages,
.widget.recent_entries,
.widget.recent_comments  {
	ol, ul {
		list-style: none;
		margin-left: 0;

		ol, ul {
			margin-left: 2em;

			ol, ul {
				margin-left: 2em;
			}
		}
	}
}

/* ====== Specific ====== */

#sidebar-primary {
	.widget {
		&:after { 
			clear: both;
			position: absolute; 
			bottom: 10px; 
			display: block;
			overflow: hidden; 
			margin: 0 auto; 
			width: 100%; 
			vertical-align: middle; 
			word-spacing: 1px; 
			word-wrap: normal;
			white-space: nowrap; 
			content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . .'; 
			@include font-rem(48);
			color: $color-yellow;
			line-height: 1;
			@include box-sizing( border-box) ;
		}
	}
}

#sidebar-subsidiary {
	.widget-title {
		color: $color-pink;
	}

	.widget:nth-child(4) .widget-title {
		color: $color-blue;
	}

	a {
		@include link-colors( $color-brown, $color-tan, $color-brown, $color-brown, $color-brown);
		text-decoration: none;
	}
}

#sidebar-header {}

#sidebar-before-content {}

#sidebar-after-content {}

#sidebar-after-singular {}

#sidebar-home-one {
	h3 {
		@include font-rem(36);
		color: $color-pink;
	}
	p {
		@include font-rem(18);
	}
}

/* widgets */

.from_the_blog_widget {
	h3.widget-title {
		@extend %title;
		@include font-rem(48);
		color: $color-yellow;
	}
}

.from-blog-layout-three,
.from-blog-layout-four {
	& > div {
		margin-top: 2em;
	}
	h3.entry-title {
		text-align: center;
		@include font-rem(20);
	}
}

.cc_box_widget {

	.widget-inside {
		@include box-sizing(border-box);
		margin: 0 auto;
		text-align:center;
		padding: 10px 15px;
		border: 1em solid $color-blue-bg;

		@media screen and ( min-width: $media-cc-box-min ) {
			padding: 30px 35px;
			width: 290px;
			height: 356px;
			background: #fff url('images/box.png') top center no-repeat;
			border: none;
		}

		h3 {
			@include font-rem(20);
			color: $color-pink;
			padding: 0;
			line-height: 1.5;

			@media screen and ( min-width: $media-cc-box-min ) {	
				@include font-rem(30);			
				white-space: nowrap;
				overflow:hidden;
			}
		}

		.box-content {
			line-height: 1.5;

			@media screen and (min-width: $media-cc-box-min ) {	
				text-overflow:ellipsis;
				overflow: hidden;
				height: 100px;
			}
		}

		.link-button {

			@media screen and (min-width: $media-cc-box-min ) {				
				position: absolute;
				bottom: 50px;
				left: 50%;
			}

			a {
				@extend %link-button;
				@media screen and (min-width: $media-cc-box-min ) {
					position: relative;
					left: -50%; 
				}
			}
		}

		@media screen and (min-width: $media-cc-box-min ) {

			.boxes-icon {
				height: 97px;
			}

			.boxes-cake {
				background-position: 50% 0;
			}

			.boxes-cupcake {
				background-position: 50% -107px;
			}

			.boxes-knifefork {
				background-position: 50% -214px;
			}

			.boxes-spoon {
				background-position: 50% -321px;
			}

		}
	}
}

.widget.search {
	#searchform {
		background-color: $color-blue-bg;
		.submit {
			@include inline-block;
			width: 18%;
			margin: 0;
			background: url('images/search-button.png') center center no-repeat;
			@include font-rem(14);
			cursor: pointer;
			cursor: hand;			
		}
		.field {
			@include inline-block;
			width: 80%;
			margin: 0;
		}
	}
	.search-text {
		color: #ccc;
	}
}
