/**
 * Flexslider CSS
 * --------------------------------------------------------------------------- */

@mixin slide-wrapper {
	padding: 30px !important;
	.widget-wrap {
		border: 15px solid $color-blue-bg;
		@include box-shadow( gray 0 10px 20px -10px );
	}
}

@mixin slide-control-nav {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

@mixin slider-prev {
  @include arrows-sprite(left-arrow);
	height: 60px;
	width: 28px;
	left: -43px;
	margin-top: -29px;
    background-color: transparent;
}

@mixin slider-next {
  @include arrows-sprite(right-arrow);
	height: 60px;
	width: 28px;
	right: -43px;
	margin-top: -29px;
    background-color: transparent;
}

#home-flexslider,
.home-flexslider {

	margin-bottom: 50px;

	@media screen and ( max-width: $media-tiny ) {
		display: none;
	}

	@include slide-wrapper;	

	.flex-container a:active,
	.flexslider a:active,
	.flex-container a:focus,
	.flexslider a:focus  {
		outline: none;
	}

	.slides,
	.flex-control-nav,
	.flex-direction-nav {
		margin: 0;
		padding: 0;
		list-style: none;
	} 

	/* FlexSlider Necessary Styles */ 
	.flexslider {
		margin: 0;
		padding: 0;
		max-height: 325px;
	}
	.flexslider .slides > li {
		display: none;
		-webkit-backface-visibility: hidden;
	} 

	/* Hide the slides before the JS is loaded. Avoids image jumping */
	.flexslider .slides img {
		width: 100%; display: block;
	}
	.flex-pauseplay span {
		text-transform: capitalize;
	}

	/* Clearfix for the .slides element */
	.slides:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	} 
	html[xmlns] .slides {
		display: block;
	} 
	* html .slides {
		height: 1%;
	}

	/* No JavaScript Fallback */
	/* If you are not using another script, such as Modernizr, make sure you
	 * include js that eliminates this class on page load */
	.no-js .slides > li:first-child {
		display: block;
	}

	/* FlexSlider Default Theme
	*********************************/
	.flexslider {
		background: #fff;
		position: relative;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
		box-shadow: 0 1px 4px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
		-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
		zoom: 1;
	}
	.flex-viewport {
		max-height: 320px;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		transition: all 1s ease;
	}
	.loading .flex-viewport {
		max-height: 320px;
	}
	.flexslider .slides {
		zoom: 1;
	}

	.carousel li {
		margin-right: 5px
	}


	/* Direction Nav */
	.flex-direction-nav {
		*height: 0;
	}
	.flex-direction-nav a {
		margin: -20px 0 0;
		display: block;
		position: absolute;
		top: 50%;
		z-index: 10;
		cursor: pointer;
		text-indent: -9999px;
		-webkit-transition: all .3s ease;
	}
	.flex-direction-nav .flex-next {
		@include slider-next;
	}
	.flex-direction-nav .flex-prev {
		@include slider-prev;
	}
	.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
		opacity: 1;
	}
	.flex-direction-nav .flex-disabled {
		opacity: .3!important;
		filter:alpha(opacity=30);
		cursor: default;
	}

	/* Control Nav */
	.flex-control-nav {
		@include slide-control-nav;
		position: absolute;
		bottom: -50px;
	}
	.flex-control-nav li {
		margin: 0 6px;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}
	.flex-control-paging li a {
		width: 11px;
		height: 11px;
		display: block;
		background: #666 rgba(0,0,0,0.5);
		 cursor: pointer;
		 text-indent: -9999px;
		 -webkit-border-radius: 20px;
		 -moz-border-radius: 20px;
		 -o-border-radius: 20px;
		 border-radius: 20px;
		 box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	}
	.flex-control-paging li a:hover {
		background: #333;
		background: rgba(0,0,0,0.7);
	}
	.flex-control-paging li a.flex-active {
		background: #000;
		background: rgba(0,0,0,0.9);
		cursor: default;
	}

	.flex-control-thumbs {
		margin: 5px 0 0;
		position: static;
		overflow: hidden;
	}
	.flex-control-thumbs li {
		width: 25%;
		float: left;
		margin: 0;
	}
	.flex-control-thumbs img {
		width: 100%;
		display: block;
		opacity: .7;
		cursor: pointer;
	}
	.flex-control-thumbs img:hover {
		opacity: 1;
	}
	.flex-control-thumbs .flex-active {
		opacity: 1;
		cursor: default;
	}
}