/**
 * Social Menu
 * --------------------------------------------------------------------------- */

// Based on Socially Awkward, http://themehybrid.com/themes/socially-awkward, by Justin Tadlock, http://justintadlock.com
//
@import "fontawesome/scss/variables";

$social-icon-size: 40px;
$social-icon-inner: $social-icon-size - 8px;
$social-icon-font: $social-icon-inner - 10px;

#social-menu-container {
  margin-top: 10px;
}

.social-menu {
  list-style: none;
  margin: 0 0 15px;

  li {
	display:  inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	@include border-radius(50%);
	width: $social-icon-size;
	height: $social-icon-size;
	overflow: hidden;
	background-color: #ffffff;
	border: 3px solid #e1f4f8;
	@include box-shadow(lighten(black,94%) 1px 1px 3px);
  }

  li a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	@include link-colors( $color-blue, $color-pink, $color-pink, $color-blue, $color-pink);
  }

  li a,
   [class^="fa-"],
   [class*=" fa-"] {
	 color: $color-blue;
	@include link-colors( $color-blue, $color-pink, $color-pink, $color-blue, $color-pink);
	 &:before {
	   color: $color-blue;
	 }
	 &:hover:before {
	   color: $color-pink;
	 }
   }

  li a::before,
  [class^="fa-"]::before,
  [class*=" fa-"]::before {
	-webkit-font-smoothing: antialiased;
	font-family: 'FontAwesome';
	vertical-align: middle;
	display: inline-block;
	line-height: $social-icon-inner;
	width: $social-icon-inner;
	height: $social-icon-inner;
	padding: 0;
	font-size: $social-icon-font;
	text-align: center;
	background-color: #f9f9f9;
	@include border-radius(50%);
	color: #8cc0d3;
	top: 1px;
	left: 1px;
	position: relative;
  }
  [class^="fa-"] a,
  [class*=" fa-"] a {
	top: -$social-icon-inner;
	position: relative;
	width: $social-icon-inner;
	height: $social-icon-inner;
	opacity: 0;
  }
  [class^="fa-"] a::before,
  [class*=" fa-"] a::before {
	content: none !important;
  }
  li a::before {
	content: $fa-var-link;
  }
  li a[href*="facebook.com"]::before {
	content: $fa-var-facebook;
  }
  li a[href*="twitter.com"]::before {
	content: $fa-var-twitter;
  }
  li a[href*="dribbble.com"]::before {
	content: $fa-var-dribbble;
  }
  li a[href*="plus.google.com"]::before {
	content: $fa-var-google-plus;
  }
  li a[href*="pinterest.com"]::before {
	content: $fa-var-pinterest;
  }
  li a[href*="github.com"]::before {
	content: $fa-var-github;
  }
  li a[href*="bitbucket.com"]::before {
	content: $fa-var-bitbucket;
  }
  li a[href*="tumblr.com"]::before {
	content: $fa-var-tumblr;
  }
  li a[href*="youtube.com"]::before {
	content: $fa-var-youtube;
  }
  li a[href*="flickr.com"]::before {
	content: $fa-var-flickr;
  }
  li a[href*="instagram.com"]::before {
	content: $fa-var-instagram;
  }
  li a[href*="linkedin.com"]::before {
	content: $fa-var-linkedin;
  }
  li a[href*="/feed"]::before {
	content: $fa-var-rss;
  }
  li a[href*="dropbox.com"]::before {
	content: $fa-var-dropbox;
  }
  li a[href*="foursquare.com"]::before {
	content: $fa-var-foursquare;
  }
  li a[href*="flickr.com"]::before {
	content: $fa-var-flickr;
  }
  li a[href*="skype.com"]::before {
	content: $fa-var-skype;
  }
  li a[href*="mailto"]::before {
	content: $fa-var-envelope;
  }

}