/**
 * Soliloquy plugin
 * --------------------------------------------------------------------------- */

.widget.soliloquy {
	@include slide-wrapper;
}

#container .soliloquy-container {	

	.soliloquy-direction-nav li .soliloquy-prev {
		@include slider-prev;
	}

	.soliloquy-direction-nav li .soliloquy-next {
		@include slider-next;
	}

	.soliloquy-control-nav {
		@include slide-control-nav;
		bottom: -40px;
	}

	.soliloquy-direction-nav {
		display: block;
	}
}

.soliloquy-theme-creative-cakes.soliloquy-container {
  .soliloquy-pager {
	height: 14px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: -50px;
  }

  .soliloquy-pager-link {
	background-image: none;
	width: 11px;
	height: 11px;
	display: block;
	background: #666 rgba(0,0,0,0.5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	&.active,
	&:hover {
	  background-image: none;
	  background: #000;
	  background: rgba(0,0,0,0.9);
	  cursor: default;
	}
  }

  .soliloquy-prev {
	@include arrows-sprite(left-arrow);
	height: 60px;
	margin-top: -30px;
	left: -42px;
	background-color: transparent;
  }

  .soliloquy-next {
	@include arrows-sprite(right-arrow);
	height: 60px;
	margin-top: -30px;
	right: -48px;
	background-color: transparent;
  }
}