// local sass variables 

$container-max-width: 1000px;
$media-mobile: 767px;
$media-phone: 400px;
$media-tiny: 300px;
$media-cc-box-min: 350px;
$media-cc-box-full: 940px;

$color-pink: #fd955c;
$color-blue: #8cc0d3;
$color-brown: #8d7662;
$color-yellow: #dee4b1;
$color-tan: #d7cbc1;

$color-blue-bg: #e8f8fb;
$color-gray-bg: #f9f9f9;

$header-height: 180px;